@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500,700);

body, html {
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
    line-height:25px;
    font-size: 16px;
    color:#333;
    margin:0;
    padding:0;
}

a {
    color:#333;
}

a:hover {
    color:#007a99;
    text-decoration: none;
}

h4 {
    line-height:30px;
    font-size: 18px;
    font-weight: 400;
}

h6 {
    line-height:30px;
    font-size: 15px;
    font-weight: 400;
}

h2 {
    text-transform: uppercase;
    color:#00aad4;
    font-size: 26px;
    font-weight: 400;
}

/* remove outer padding */
#main-content .row {
    padding: 0px;
    margin: 0px;
}

/*Remove rounded coners*/
nav.sidebar.navbar {
    border-radius: 0px;
}

nav.sidebar, #main-content {
    -webkit-transition: margin 200ms ease-out;
    -moz-transition: margin 200ms ease-out;
    -o-transition: margin 200ms ease-out;
    transition: margin 200ms ease-out;
}

/* Add gap to nav and right windows.*/
#main-content {
    margin-top: 25px;
}

.navbar-inverse {
    border:none;
}

nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover,
nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #CCC;
    background-color: transparent;
}
.navbar .navbar--logo {
    margin: 0 auto;
}
@media (max-width: 767px) {
    .navbar .navbar-brand h2 {
        display: none;
    }
    .navbar .navbar--logo {
        width: 130px;
        margin-left: 1em;
    }
}

nav:hover .forAnimate{
    opacity: 1;
}

.section{
    min-height:90vh;
    margin-bottom:10px;
}

.section-head{
    margin-top: 50px;
}

.link{
    color: #00aad4;
}

#footer-links > a {
    color: #fff;
}

#footer-links > a:hover {
    color: #333;
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height:100% !important;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
    background: none;
   color:#da3127 !important;
   font-weight: 400;
   /*padding-top:2px;
   padding-bottom:2px;*/
}

.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover {
    background: none;
    color:#da3127 !important;
}

.navbar-brand {
    padding:5px !important;
    height: auto;
}

.navbar-brand img{
    max-width: 110%;
    margin: 6% 0% 3% 5%;
}

.navbar-toggle {
    background-color: #c8c8c8;
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.3), 0 3px 3px rgba(0, 0, 0, 0.15), 0 3px 2px -2px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
}

.pymatbtn {
    padding: 0.6em 1.2em;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    min-width: 200px;
    display: inline-block;
    background:#00aad4;
    -webkit-transition: 200ms background cubic-bezier(0.4, 0, 0.2, 1);
    transition: 200ms background cubic-bezier(0.4, 0, 0.2, 1);
}


.pymatbtn:hover {
    outline: none;
    background: #007a99;
}
.pymatbtn:focus {
    outline: none;
}

.sponsors h3 {
    margin:40px 0 15px 0;
}

#sponsorship-download {
   text-align: center;
}

#sponsorship-download > a {
   padding: 1em;
   background: #404040 ;
   border-radius: 5px;
   color: white;
}

#sponsorship-download > a:hover {
   background: rgba(64, 64, 64, 0.82);
}
.footer .contact {
    text-align: center;
}
.footer .contact--link {
    padding: 5px 1em;
    border-left: 1px dotted #00aad4;
}
.footer .contact--link:first-child {
    border-left: none;
}
@media (max-width: 768px) {
.section{
        margin-top:10px !important;
    }
}

@media (min-width: 768px) {

    #main-content{
        position: absolute;
        width: calc(100% - 20%); /*keeps 100% minus nav size*/
        margin-left: 20%;
        float: right;
        padding-bottom: 100px;
    }

    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-left: 0px;
    }

    nav.sidebar .navbar-brand, nav.sidebar .navbar-header {
        text-align: center;
        width: 100%;
        margin-left: 0px;
    }


    nav.sidebar a {
        padding: 15px 30px;
    }


    nav.sidebar .navbar-nav > li:first-child {
        /*border-top: 1px #c9302c solid;*/
    }

    nav.sidebar .navbar-nav > li {
        /*border-bottom: 1px #e5e5e5 solid;*/
    }


    nav.sidebar .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }


    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid {
        padding: 0 0px 0 0px;
    }


    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #777;
    }

    /*gives sidebar width/height*/
    nav.sidebar {
        width: 20%;
        height: 100%;
        float: left;
        z-index: 1000;
        margin-bottom: 0px;
    }

    /*give sidebar 100% width;*/
    nav.sidebar li {
        width: 100%;
    }

    /* Move nav to full on mouse over*/
    nav.sidebar:hover {
        margin-left: 0px;
    }
    /*for hiden things when navbar hidden*/
    .forAnimate {
        opacity: 0;
    }

}

@media (max-width: 768px) {
    .speaker.pybox {
        background-size: 10%;
    }
    .footer a{
        color: #000000;
    }
    .foooter a:hover {
        color: #00aad4;
    }

}

@media (max-width: 992px) {
    .overbg {
        background-position: 0 -12px;
    }
    .overbg:after {
        content: ' ';
        display: block;
        position: absolute;
        height: 50pX;
        background: #00aad4;
        width: 100%;
        bottom: 0;
    }
}

@media (max-width: 454px) {
    .footer > p:first-child > a {
        display: block;
    }
}
.speaker--photo img {
    margin: 0 auto;
}
.speaker--social-icon:hover .social,
.speaker--social-icon:focus .social{
    color: #da3127;
}
.speaker--bio {
    font-size: 0.8em;
    text-align: justify;
}

/* .....NavBar: Fully showing nav bar..... */
@media (min-width: 1330px) {

    /*Allow main to be next to Nav*/
    #main-content {
        width: calc(100% - 20%); /*keeps 100% minus nav size*/
        margin-left: 20%;
    }

    /*Show all nav*/
    nav.sidebar {
        margin-left: 0px;
        float: left;
    }
    /*Show hidden items on nav*/
    nav.sidebar .forAnimate {
        opacity: 1;
    }
}
.col-md-8 {
   margin-top: 60px;
}
