			<!--************************************
					Latest Tweet Start
			*************************************-->
			<section class="tg-sectionspace tg-haslayout">
				<div class="container">
					<div class="row">
						<div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
							<div class="tg-sectionhead">
								<div class="tg-sectionheading">
									<h2>Always Stay Updated</h2>
									<h3>Latest Tweets</h3>
								</div>
								<div class="tg-description">
									<p>Keep watching this space for latest news and announcements.</p>
								</div>
							</div>
						</div>
						<div class="tg-latestarticles">
							<div class="col-sm-12 col-md-12 col-lg-12">
								<div id="pyconindiaTweets"></div>
							</div>
							<!--<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
								<article class="tg-post tg-themepost">
									<figure>
										<span class="tg-timetag">June 27, 2016</span>
										<img src="images/articles/img-01.jpg" alt="image description">
									</figure>
									<div class="tg-postcontent">
										<div class="tg-posthead">
											<ul class="tg-tags">
												<li><a href="#">Lifestyle, </a></li>
												<li><a href="#">Business</a></li>
											</ul>
											<ul class="tg-matadata tg-postmatadata">
												<li>
													<i class="icon-bubble"></i>
													<span><a href="#">3205</a></span>
												</li>
											</ul>
										</div>
										<div class="tg-posttitle">
											<h3><a href="">Penny Smart, Dollar Foolish</a></h3>
										</div>
										<div class="tg-description">
											<p>Consectetur adipisicing elit sed eiusmod tempor inciunt labore dolore magna aliqua enim.</p>
										</div>
									</div>
								</article>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
								<article class="tg-post tg-themepost">
									<figure>
										<span class="tg-timetag">June 27, 2016</span>
										<img src="images/articles/img-02.jpg" alt="image description">
									</figure>
									<div class="tg-postcontent">
										<div class="tg-posthead">
											<ul class="tg-tags">
												<li><a href="#">Law and Finance</a></li>
											</ul>
											<ul class="tg-matadata tg-postmatadata">
												<li>
													<i class="icon-bubble"></i>
													<span><a href="#">3205</a></span>
												</li>
											</ul>
										</div>
										<div class="tg-posttitle">
											<h3><a href="">All That Glitters Is Not Gold</a></h3>
										</div>
										<div class="tg-description">
											<p>Consectetur adipisicing elit sed eiusmod tempor inciunt labore dolore magna aliqua enim.</p>
										</div>
									</div>
								</article>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
								<article class="tg-post tg-themepost">
									<figure>
										<span class="tg-timetag">June 27, 2016</span>
										<img src="images/articles/img-03.jpg" alt="image description">
									</figure>
									<div class="tg-postcontent">
										<div class="tg-posthead">
											<ul class="tg-tags">
												<li><a href="#">Lifestyle, </a></li>
												<li><a href="#">Business</a></li>
												<li><a href="#">Law and Fina...</a></li>
											</ul>
											<ul class="tg-matadata tg-postmatadata">
												<li>
													<i class="icon-bubble"></i>
													<span><a href="#">3205</a></span>
												</li>
											</ul>
										</div>
										<div class="tg-posttitle">
											<h3><a href="">Gonna Make You An Offer You Can’t Refuse</a></h3>
										</div>
										<div class="tg-description">
											<p>Consectetur adipisicing elit sed eiusmod tempor inciunt labore dolore magna aliqua enim.</p>
										</div>
									</div>
								</article>
							</div>-->
						</div>
					</div>
				</div>
			</section>
			<!--************************************
					Latest Tweet End
			*************************************-->