<section class="tg-sectionspace tg-haslayout">
  <div class="container" id="schedule">
    <div class="row">
      <div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
        <div class="tg-sectionhead">
          <div class="tg-sectionheading">
            <h3>Tentative Schedule</h3>
          </div>
        </div>
      </div>
      <!-- Display Schedule for devices with width > 568px -->
      <div class="hidden-xs-down col-sm-12 col-md-12 col-lg-12">
        <div class="tg-eventscheduletabs">
          <ul class="tg-eventschedulenav" role="tablist">
            <li role="presentation"><a href="#day-one" aria-controls="day-one" role="tab" data-toggle="tab">Day 01<span>November 2, 2017</span></a></li>
            <li role="presentation"><a href="#day-two" aria-controls="day-two" role="tab" data-toggle="tab">Day 02<span>November 3, 2017</span></a></li>
            <li role="presentation" class="active"><a href="#day-three" aria-controls="day-three" role="tab" data-toggle="tab">Day 03<span>November 4, 2017</span></a></li>
            <li role="presentation"><a href="#day-four" aria-controls="day-four" role="tab" data-toggle="tab">Day 04<span>November 5, 2017</span></a></li>
          </ul>
          <div class="tg-eventschedulecontent tab-content">
            <!--<a class="tg-btndownloadschedule" href="#">Download Full Schedule<i class="fa fa-angle-right"></i></a>-->
            <div role="tabpanel" class="tab-pane" id="day-one">
              <div class="tg-eventschaduletime">
                <h2>Day 01 - Workshop and Dev Sprint</h2>
                <h3>November 2, 2017</h3>
              </div>
              <div class="tg-eventvenuetabs">
                <ul class="tg-eventvenuenav" role="tablist">
                  <li role="presentation" class="active"><a href="#hall-one" aria-controls="hall-one" role="tab" data-toggle="tab">Seminar Hall 1</a></li>
                  <li role="presentation"><a href="#hall-two" aria-controls="hall-two" role="tab" data-toggle="tab">Seminar Hall 2</a></li>
                  <li role="presentation"><a href="#hall-three" aria-controls="hall-three" role="tab" data-toggle="tab">Seminar Hall 3</a></li>
                  <li role="presentation"><a href="#hall-four" aria-controls="hall-four" role="tab" data-toggle="tab">Seminar Hall 4</a></li>
                  <li role="presentation"><a href="#hall-five" aria-controls="hall-five" role="tab" data-toggle="tab">Class Room</a></li>
                </ul>
                <div class="tg-eventvenuecontent tab-content"></div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="day-two">
              <div class="tg-eventschaduletime">
                <h2>Day 02 - Workshop and Dev Sprint</h2>
                <h3>November 3, 2017</h3>
              </div>
              <div class="tg-eventvenuetabs">
                <ul class="tg-eventvenuenav" role="tablist">
                  <li role="presentation" class="active"><a href="#hall-six" aria-controls="hall-six" role="tab" data-toggle="tab">Seminar Hall 1</a></li>
                  <li role="presentation"><a href="#hall-seven" aria-controls="hall-seven" role="tab" data-toggle="tab">Seminar Hall 2</a></li>
                  <li role="presentation"><a href="#hall-eight" aria-controls="hall-eight" role="tab" data-toggle="tab">Seminar Hall 3</a></li>
                  <li role="presentation"><a href="#hall-nine" aria-controls="hall-nine" role="tab" data-toggle="tab">Seminar Hall 4</a></li>
                  <li role="presentation"><a href="#hall-ten" aria-controls="hall-ten" role="tab" data-toggle="tab">Class Room</a></li>
                </ul>
                <div class="tg-eventvenuecontent tab-content"></div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane active" id="day-three">
              <div class="tg-eventschaduletime">
                <h2>Day 03 - Conference</h2>
                <h3>November 4, 2017</h3>
              </div>
              <div class="tg-eventvenuetabs">
                <ul class="tg-eventvenuenav" role="tablist">
                  <li role="presentation" class="active"><a href="#hall-eleven" aria-controls="hall-eleven" role="tab" data-toggle="tab">Main Auditorium</a></li>
                  <li role="presentation"><a href="#hall-twelve" aria-controls="hall-twelve" role="tab" data-toggle="tab">Seminar Hall 1</a></li>
                  <li role="presentation"><a href="#hall-thirteen" aria-controls="hall-thirteen" role="tab" data-toggle="tab">Seminar Hall 2</a></li>
                  <li role="presentation"><a href="#hall-fourteen" aria-controls="hall-fourteen" role="tab" data-toggle="tab">Seminar Hall 3</a></li>
                  <li role="presentation"><a href="#hall-fifteen" aria-controls="hall-fifteen" role="tab" data-toggle="tab">Class Room</a></li>
                </ul>
                <div class="tg-eventvenuecontent tab-content"></div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="day-four">
              <div class="tg-eventschaduletime">
                <h2>Day 04 - Conference</h2>
                <h3>November 5, 2017</h3>
              </div>
              <div class="tg-eventvenuetabs">
                <ul class="tg-eventvenuenav" role="tablist">
                  <li role="presentation" class="active"><a href="#hall-sixteen" aria-controls="hall-sixteen" role="tab" data-toggle="tab">Main Auditorium</a></li>
                  <li role="presentation"><a href="#hall-seventeen" aria-controls="hall-seventeen" role="tab" data-toggle="tab">Seminar Hall 1</a></li>
                  <li role="presentation"><a href="#hall-eighteen" aria-controls="hall-eighteen" role="tab" data-toggle="tab">Seminar Hall 2</a></li>
                  <li role="presentation"><a href="#hall-nineteen" aria-controls="hall-nineteen" role="tab" data-toggle="tab">Seminar Hall 3</a></li>
                  <li role="presentation"><a href="#hall-twenty" aria-controls="hall-twenty" role="tab" data-toggle="tab">Class Room</a></li>
                </ul>
                <div class="tg-eventvenuecontent tab-content"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Display Schedule for devices with width < 568px -->
      <div class="hidden-xs-up col-xs-12">
        <ul class="nav nav-tabs tg-eventschedulenav" role="tablist">
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" aria-controls="day-one" role="dropdown" data-toggle="dropdown" href="#">Day 01<span class="caret"></span></a>
                <ul class="dropdown-menu">
                        <li role="presentation"><a  onclick="showSchedule('.btn-day-one','#hall-one:nth-child(n)','Seminar Hall 1')" aria-controls="hall-one">Seminar Hall 1</a></li>
                        <li role="presentation"><a  onclick="showSchedule('.btn-day-one','#hall-two:nth-child(n)','Seminar Hall 2')" aria-controls="hall-two">Seminar Hall 2</a></li>
                        <li role="presentation"><a  onclick="showSchedule('.btn-day-one','#hall-three:nth-child(n)','Seminar Hall 3')" aria-controls="hall-three">Seminar Hall 3</a></li>
                        <li role="presentation"><a  onclick="showSchedule('.btn-day-one','#hall-four:nth-child(n)','Seminar Hall 4')" aria-controls="hall-four">Seminar Hall 4</a></li>
                        <li role="presentation"><a  onclick="showSchedule('.btn-day-one','#hall-five:nth-child(n)','Class Room')" aria-controls="hall-five">Class Room</a></li>
                </ul>
            </li>
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" aria-controls="day-two" role="dropdown" data-toggle="dropdown" href="#">Day 02<span class="caret"></span></a>
                <ul class="dropdown-menu">
                        <li role="presentation"><a  onclick="showSchedule('.btn-day-two','#hall-six:nth-child(n)','Seminar Hall 1')" aria-controls="hall-six">Seminar Hall 1</a></li>
                        <li role="presentation"><a  onclick="showSchedule('.btn-day-two','#hall-seven:nth-child(n)','Seminar Hall 2')" aria-controls="hall-seven">Seminar Hall 2</a></li>
                        <li role="presentation"><a  onclick="showSchedule('.btn-day-two','#hall-eight:nth-child(n)','Seminar Hall 3')" aria-controls="hall-eight">Seminar Hall 3</a></li>
                        <li role="presentation"><a  onclick="showSchedule('.btn-day-two','#hall-nine:nth-child(n)','Seminar Hall 4')" aria-controls="hall-nine">Seminar Hall 4</a></li>
                        <li role="presentation"><a  onclick="showSchedule('.btn-day-two','#hall-ten:nth-child(n)','Class Room')" aria-controls="hall-ten">Class Room</a></li>
                </ul>
            </li>
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" aria-controls="day-three" role="dropdown" data-toggle="dropdown" href="#">Day 03<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <div class="tg-eventschaduletime">
                        <li role="presentation"><a  onclick="showSchedule('.btn-day-three','#hall-eleven:nth-child(n)','Seminar Hall 1')" aria-controls="hall-eleven">Seminar Hall 1</a></li>
                        <li role="presentation"><a  onclick="showSchedule('.btn-day-three','#hall-twelve:nth-child(n)','Seminar Hall 2')" aria-controls="hall-twelve">Seminar Hall 2</a></li>
                        <li role="presentation"><a  onclick="showSchedule('.btn-day-three','#hall-thirteen:nth-child(n)','Seminar Hall 3')" aria-controls="hall-thirteen">Seminar Hall 3</a></li>
                        <li role="presentation"><a  onclick="showSchedule('.btn-day-three','#hall-fourteen:nth-child(n)','Seminar Hall 4')" aria-controls="hall-fourteen">Seminar Hall 4</a></li>
                        <li role="presentation"><a  onclick="showSchedule('.btn-day-three','#hall-fifteen:nth-child(n)','Class Room')" aria-controls="hall-fifteen">Class Room</a></li>
                </ul>
            </li>
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" aria-controls="day-four" role="dropdown" data-toggle="dropdown" href="#">Day 04<span class="caret"></span></a>
                <ul class="dropdown-menu">
                        <li role="presentation"><a  onclick="showSchedule('.btn-day-four','#hall-sixteen:nth-child(n)','Seminar Hall 1')" aria-controls="hall-sixteen">Seminar Hall 1</a></li>
                        <li role="presentation"><a  onclick="showSchedule('.btn-day-four','#hall-seventeen:nth-child(n)','Seminar Hall 1')" aria-controls="hall-seventeen">Seminar Hall 2</a></li>
                        <li role="presentation"><a  onclick="showSchedule('.btn-day-four','#hall-eighteen:nth-child(n)','Seminar Hall 1')" aria-controls="hall-eighteen">Seminar Hall 3</a></li>
                        <li role="presentation"><a  onclick="showSchedule('.btn-day-four','#hall-nineteen:nth-child(n)','Seminar Hall 1')" aria-controls="hall-nineteen">Seminar Hall 4</a></li>
                        <li role="presentation"><a  onclick="showSchedule('.btn-day-four','#hall-twenty:nth-child(n)','Class Room')" aria-controls="hall-twenty">Class Room</a></li>
                </ul>
            </li>
        </ul>
        <div class="tg-eventschedulecontent tab-content">
            <div class="tab-pane btn-day-one" id="day-one">
                <div class="tg-eventschaduletime">
                  <h2>Day 01 - Workshop and Dev Sprint</h2>
                  <h3>November 2, 2017</h3>
                  <h3 class='selected-hall'></h3> <!--send via main.js/showSchedule()-->
                </div>
                <div class="tg-eventvenuetabs">
                    <div class="tg-eventvenuecontent tab-content">
                        <div class="tab-pane" id="hall-one"></div>
                        <div class="tab-pane" id="hall-two"></div>
                        <div class="tab-pane" id="hall-three"></div>
                        <div class="tab-pane" id="hall-four"></div>
                        <div class="tab-pane" id="hall-five"></div>
                    </div>
                </div>
            </div>
            <div class="tab-pane btn-day-two" id="day-two">
                <div class="tg-eventschaduletime">
                    <h2>Day 02 - Workshop and Dev Sprint</h2>
                    <h3>November 3, 2017</h3>
                    <h3 class='selected-hall'></h3> <!--send via main.js/showSchedule()-->
                </div>
                <div class="tg-eventvenuetabs">
                    <div class="tg-eventvenuecontent tab-content">
                        <div class="tab-pane" id="hall-six"></div>
                        <div class="tab-pane" id="hall-seven"></div>
                        <div class="tab-pane" id="hall-eight"></div>
                        <div class="tab-pane" id="hall-nine"></div>
                        <div class="tab-pane" id="hall-ten"></div>
                    </div>
                </div>
            </div>
            <div class="tab-pane btn-day-three" id="day-three">
                <div class="tg-eventschaduletime">
                    <h2>Day 03 - Conference</h2>
                    <h3>November 4, 2017</h3>
                    <h3 class='selected-hall'></h3> <!--send via main.js/showSchedule()-->
                </div>
                <div class="tg-eventvenuetabs">
                    <div class="tg-eventvenuecontent tab-content">
                        <div class="tab-pane" id="hall-eleven"></div>
                        <div class="tab-pane" id="hall-twelve"></div>
                        <div class="tab-pane" id="hall-thirteen"></div>
                        <div class="tab-pane" id="hall-fourteen"></div>
                        <div class="tab-pane" id="hall-fifteen"></div>
                    </div>
                </div>
            </div>
            <div class="tab-pane btn-day-four" id="day-four">
                <div class="tg-eventschaduletime">
                    <h2>Day 04 - Conference</h2>
                    <h3>November 5, 2017</h3>
                    <h3 class='selected-hall'></h3> <!--send via main.js/showSchedule()-->
                </div>
                <div class="tg-eventvenuetabs">
                    <div class="tg-eventvenuecontent tab-content">
                        <div class="tab-pane" id="hall-sixteen"></div>
                        <div class="tab-pane" id="hall-seventeen"></div>
                        <div class="tab-pane" id="hall-eighteen"></div>
                        <div class="tab-pane" id="hall-nineteen"></div>
                        <div class="tab-pane" id="hall-twenty"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</section>
