<section class="tg-sectionspace tg-haslayout">
    <div class="container">
      <div class="row">
        <div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
          <div class="tg-sectionhead">
            <div class="tg-sectionheading">
              <h3>Full Event Schedule</h3>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="tg-eventscheduletabs">
            <ul class="tg-eventschedulenav" role="tablist">
              <li role="presentation"><a href="#day-one" aria-controls="day-one" role="tab" data-toggle="tab">Day 01<span>November 2, 2017</span></a></li>
              <li role="presentation"><a href="#day-two" aria-controls="day-two" role="tab" data-toggle="tab">Day 02<span>November 3, 2017</span></a></li>
              <li role="presentation" class="active"><a href="#day-three" aria-controls="day-three" role="tab" data-toggle="tab">Day 03<span>November 4, 2017</span></a></li>
              <li role="presentation"><a href="#day-four" aria-controls="day-four" role="tab" data-toggle="tab">Day 04<span>November 5, 2017</span></a></li>
            </ul>
            <div class="tg-eventschedulecontent tab-content">
              <!--<a class="tg-btndownloadschedule" href="#">Download Full Schedule<i class="fa fa-angle-right"></i></a>-->
              <div role="tabpanel" class="tab-pane" id="day-one">
                <div class="tg-eventschaduletime">
                  <h2>Day 01 full schedule</h2>
                  <h3>November 2, 2017</h3>
                </div>
                <div class="tg-eventvenuetabs">
                  <ul class="tg-eventvenuenav" role="tablist">
                    <li role="presentation" class="active"><a href="#hall-one" aria-controls="hall-one" role="tab" data-toggle="tab">Main Audi</a></li>
                    <li role="presentation"><a href="#hall-two" aria-controls="hall-two" role="tab" data-toggle="tab">Seminar Hall 1</a></li>
                    <li role="presentation"><a href="#hall-three" aria-controls="hall-three" role="tab" data-toggle="tab">Seminar Hall 2</a></li>
                    <li role="presentation"><a href="#hall-four" aria-controls="hall-four" role="tab" data-toggle="tab">Seminar Hall 3</a></li>
                  </ul>
                  <div class="tg-eventvenuecontent tab-content"></div> 
                </div>  
              </div>
              <div role="tabpanel" class="tab-pane" id="day-two">
                <div class="tg-eventschaduletime">
                  <h2>Day 02 Full Schedule</h2>
                  <h3>November 3, 2017</h3>
                </div>
                <div class="tg-eventvenuetabs">
                  <ul class="tg-eventvenuenav" role="tablist">
                    <li role="presentation" class="active"><a href="#hall-five" aria-controls="hall-five" role="tab" data-toggle="tab">Main Audi</a></li>
                    <li role="presentation"><a href="#hall-six" aria-controls="hall-six" role="tab" data-toggle="tab">Seminar Hall 1</a></li>
                    <li role="presentation"><a href="#hall-seven" aria-controls="hall-seven" role="tab" data-toggle="tab">Seminar Hall 2</a></li>
                    <li role="presentation"><a href="#hall-eight" aria-controls="hall-eight" role="tab" data-toggle="tab">Seminar Hall 3</a></li>
                  </ul>
                  <div class="tg-eventvenuecontent tab-content"></div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane active" id="day-three">
                <div class="tg-eventschaduletime">
                  <h2>Day 03 Full Schedule</h2>
                  <h3>November 4, 2017</h3>
                </div>
                <div class="tg-eventvenuetabs">
                  <ul class="tg-eventvenuenav" role="tablist">
                    <li role="presentation" class="active"><a href="#hall-nine" aria-controls="hall-nine" role="tab" data-toggle="tab">Main Audi</a></li>
                    <li role="presentation"><a href="#hall-ten" aria-controls="hall-ten" role="tab" data-toggle="tab">Seminar Hall 1</a></li>
                    <li role="presentation"><a href="#hall-eleven" aria-controls="hall-eleven" role="tab" data-toggle="tab">Seminar Hall 2</a></li>
                    <li role="presentation"><a href="#hall-twelve" aria-controls="hall-twelve" role="tab" data-toggle="tab">Seminar Hall 3</a></li>
                  </ul>
                  <div class="tg-eventvenuecontent tab-content"></div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="day-four">
                <div class="tg-eventschaduletime">
                  <h2>Day 04 full schedule</h2>
                  <h3>November 5, 2017</h3>
                </div>
                <div class="tg-eventvenuetabs">
                  <ul class="tg-eventvenuenav" role="tablist">
                    <li role="presentation" class="active"><a href="#hall-thirteen" aria-controls="hall-thirteen" role="tab" data-toggle="tab">Main Audi</a></li>
                    <li role="presentation"><a href="#hall-fourteen" aria-controls="hall-fourteen" role="tab" data-toggle="tab">Seminar Hall 1</a></li>
                    <li role="presentation"><a href="#hall-fifteen" aria-controls="hall-fifteen" role="tab" data-toggle="tab">Seminar Hall 2</a></li>
                    <li role="presentation"><a href="#hall-sixteen" aria-controls="hall-sixteen" role="tab" data-toggle="tab">Seminar Hall 3</a></li>
                  </ul>
                  <div class="tg-eventvenuecontent tab-content"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>