<!--************************************
        Speakers Start
*************************************-->
<section class="tg-sectionspace tg-haslayout" id="speakers">
    <div class="container">
        <div class="row">
            <div class="tg-shortcode tg-speakershortcode">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="tg-shortcodetext">
                        <div class="tg-sectionhead tg-textalignleft">
                            <div class="tg-sectionheading">
                                <!-- <h2>Professional From World</h2> -->
                                <h3 class = "wow fadeInDown text-center">Keynote Speakers</h3>
                            </div>
                            <!-- <div class="tg-description">
                                <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt utnaecte laboret dolore magna aliqua enim adiatai minim veniam quista nostrud exercitation ullamco laboris nisi ut aliquip exeation.</p>
                            </div> -->
                        </div>
                        <!-- <div class="tg-btnarea">
                            <a class="tg-btn" href="#">View All</a>
                        </div> -->
                    </div>
                </div></br>
                <div class="col-xs-6 col-sm-6 col-md-speaker col-lg-offset-speaker">
                    <div class="tg-themepost tg-speaker">
                        <figure>
                            <img src="images/speakers/speaker.svg" alt="image description">
                            <figcaption>
                                <ul class="tg-socialicons">
                                    <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                                    <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                                    <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                                    <li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
                                    <li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
                                </ul>
                            </figcaption>
                        </figure>
                        <div class="tg-posttitle">
                            <h3><a href="">TBD</a></h3>
                            <span>---</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-speaker col-lg-offset-speaker">
                    <div class="tg-themepost tg-speaker">
                        <figure>
                            <img src="images/speakers/speaker.svg" alt="image description">
                            <figcaption>
                                <ul class="tg-socialicons">
                                    <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                                    <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                                    <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                                    <li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
                                    <li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
                                </ul>
                            </figcaption>
                        </figure>
                        <div class="tg-posttitle">
                            <h3><a href="">TBD</a></h3>
                            <span>---</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-speaker col-lg-offset-speaker">
                    <div class="tg-themepost tg-speaker">
                        <figure>
                            <img src="images/speakers/speaker.svg" alt="image description">
                            <figcaption>
                                <ul class="tg-socialicons">
                                    <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                                    <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                                    <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                                    <li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
                                    <li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
                                </ul>
                            </figcaption>
                        </figure>
                        <div class="tg-posttitle">
                            <h3><a href="">TBD</a></h3>
                            <span>---</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--************************************
        Speakers End
*************************************-->
