<!--************************************
    Speakers Start
*************************************-->
<section class="tg-sectionspace tg-haslayout" id="speakers">
  <div class="container">
    <div class="row">
      <div class="tg-shortcode tg-speakershortcode">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="tg-shortcodetext">
            <div class="tg-sectionhead tg-textalignleft">
              <div class="tg-sectionheading">
                <!-- <h2>Professional From World</h2> -->
                <h3 class = "wow fadeInDown text-center">Keynote Speakers</h3>
              </div>
              <!-- <div class="tg-description">
                <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt utnaecte laboret dolore magna aliqua enim adiatai minim veniam quista nostrud exercitation ullamco laboris nisi ut aliquip exeation.</p>
              </div> -->
            </div>
            <!-- <div class="tg-btnarea">
              <a class="tg-btn" href="#">View All</a>
            </div> -->
          </div>
        </div></br>
        <div class="col-xs-6 col-sm-4 col-md-offset-2 col-md-2">
          <div class="tg-themepost tg-speaker">
            <figure>
              <img src="images/speakers/peter_wang.jpg" alt="image description">
              <figcaption>
                <ul class="tg-socialicons">
                  <li class="tg-twitter"><a href="https://twitter.com/pwang"><i class="fa fa-twitter"></i></a></li>
                  <li class="tg-linkedin"><a href="https://www.linkedin.com/in/pzwang/"><i class="fa fa-linkedin"></i></a></li>  
                  <li class="tg-github"><a href="https://github.com/pzwang"><i class="fa fa-github"></i></a></li>
                </ul>
              </figcaption>
            </figure>
            <div class="tg-posttitle">
              <h3><a href="https://in.pycon.org/blog/2017/announcing-keynote-speakers-for-pycon-india-2017-wang.html">Peter Wang</a></h3>
              <span>CTO & Co-Founder at Continuum Analytics.</span>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-offset-1 col-md-2">
          <div class="tg-themepost tg-speaker">
            <figure>
              <img src="images/speakers/noufal_ibrahim.jpg" alt="image description">
              <figcaption>
                <ul class="tg-socialicons">
                  <li class="tg-twitter"><a href="https://twitter.com/noufalibrahim"><i class="fa fa-twitter"></i></a></li>
                  <li class="tg-linkedin"><a href="https://www.linkedin.com/in/noufalibrahim"><i class="fa fa-linkedin"></i></a></li>
                  <li class="tg-github"><a href="https://github.com/nibrahim"><i class="fa fa-github"></i></a></li>
                </ul>
              </figcaption>
            </figure>
            <div class="tg-posttitle">
              <h3><a href="https://in.pycon.org/blog/2017/announcing-keynote-speakers-for-pycon-india-2017.html">Noufal Ibrahim</a></h3>
              <span>Founder of Hamon Technologies LLP</span>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-offset-1 col-md-2">
          <div class="tg-themepost tg-speaker">
            <figure>
              <img src="images/speakers/elizabeth.png" alt="image description">
              <figcaption>
                <ul class="tg-socialicons">
                  <li class="tg-twitter"><a href="https://twitter.com/MusingMurmurs"><i class="fa fa-twitter"></i></a></li>
                  <li class="tg-linkedin"><a href="https://www.linkedin.com/in/elizabethferrao"><i class="fa fa-linkedin"></i></a></li>
                  <li class="tg-github"><a href="https://github.com/eferrao"><i class="fa fa-github"></i></a></li>
                </ul>
              </figcaption>
            </figure>
            <div class="tg-posttitle">
              <h3><a href="https://in.pycon.org/blog/2017/announcing-keynote-speakers-for-pycon-india-2017-ferrao.html">Elizabeth Ferrao</a></h3>
              <span>Co-founder of Women Who Code NYC</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--************************************
    Speakers End
*************************************-->
