<!--************************************
    Sponsor Starts
*************************************-->

<!--************************************
  Sponsor Modal Popup - Tensorflow
*************************************-->
<div class="modal fade" id="tensorflow-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <h4 class="modal-title" id="myModalLabel">TensorFlow</h4>
          </div>
          <div class="modal-body">
              <center><img class="img-responsive" width="300" height="300" style="margin:10px" src="images/sponsor/tensor_flow.jpg"></center>
              <div class="sponsors-description"><p>TensorFlow is an open source software library for numerical computation using data flow graphs. TensorFlow was originally developed by researchers and engineers working on the Google Brain Team within Google's Machine Intelligence research organization for the purposes of conducting machine learning and deep neural networks research, but the system is general enough to be applicable in a wide variety of other domains as well.</p></div>
          </div>
          <div class="modal-footer">
              <a class="btn btn-primary" href="https://www.tensorflow.org/" target="_blank">
                Visit TensorFlow's website &nbsp;<i class="fa fa-external-link" aria-hidden="true"></i>
              </a>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
      </div>
  </div>
</div>

<!--************************************
  Sponsor Popup End - Tensorflow
*************************************-->

<!--************************************
  Sponsor Modal Popup - Microsoft
*************************************-->
<div class="modal fade" id="microsoft-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <h4 class="modal-title" id="myModalLabel">Microsoft</h4>
          </div>
          <div class="modal-body">
              <center><img class="img-responsive" width="300" height="300" style="margin:10px" src="images/sponsor/microsoft.jpg"></center>
              <div class="sponsors-description"><p>Microsoft's commitment to openness and collaboration is ingrained in our day-to-day approach to doing business. We continue to invest in delivering a great experience for any developer, with any app, on any platform.From making the full server-side .NET stack open source to delivering Bash on Ubuntu on Windows and Visual Studio Code,a free full featured code editor for Linux, Mac, OSX and Windows, we reinforce the commitment.</p>
                <p>Our Cloud platform,Microsoft Azure supports the broadest selection of operating systems, programming languages, frameworks, tools, databases and devices. Run Linux containers with Docker integration; build apps with JavaScript, Python, .NET, PHP, Java and Node.js; build back-ends for iOS,Android and Windows devices. Azure cloud service supports the same technologies millions of developers and IT professionals already rely on and trust.</p>
                <p>Learn how to build and deploy Python Apps on Azure and how to user Python scripts to use and manage your Azure resources. Also, get access to 12,100 INR worth of Free Azure Credits by explore more about our cloud platform.</p></div>
          </div>
          <div class="modal-footer">
              <a class="btn btn-primary" href="http://aka.ms/python?ref=pyconindia2017" target="_blank">
                Visit Microsoft's website &nbsp;<i class="fa fa-external-link" aria-hidden="true"></i>
              </a>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
      </div>
  </div>
</div>

<!--************************************
  Sponsor Popup End - Microsoft
*************************************-->

<!--************************************
  Sponsor Modal Popup - Hypertrack
*************************************-->
<div class="modal fade" id="hypertrack-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <h4 class="modal-title" id="myModalLabel">Hypertrack</h4>
          </div>
          <div class="modal-body">
              <center><img class="img-responsive" width="300" height="300" style="margin:10px" src="images/sponsor/hypertrack.png"></center>
              <div class="sponsors-description"><p>Developers build awesome applications using HyperTrack's location tracking APIs. HyperTrack tells you where your users are, what they are doing and how their device is doing. You get this data in real-time with pinpoint accuracy and negligible battery consumption. You can consume this data in your favorite programming language through APIs, visuals or events. Thousands of developers have built hundreds of applications with HyperTrack across 50+ countries. What will you build with location?</p></div>
          </div>
          <div class="modal-footer">
              <a class="btn btn-primary" href="https://www.hypertrack.com/" target="_blank">
                Visit Hypertrack's website &nbsp;<i class="fa fa-external-link" aria-hidden="true"></i>
              </a>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
      </div>
  </div>
</div>

<!--**************************************
  Sponsor Popup End - Hypertrack
*************************************-->

<!--************************************
  Sponsor Modal Popup - Visible Alpha
*************************************-->
<div class="modal fade" id="visible-alpha-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <h4 class="modal-title" id="myModalLabel">Visible Alpha</h4>
          </div>
          <div class="modal-body">
              <center><img class="img-responsive" style="margin:5px" src="images/sponsor/visiblealpha.png"></center>
              <div class="sponsors-description"><p>Visible Alpha is transforming the way Wall Street firms collaborate on research, financial models and other services. The company combines advanced data correction methodologies, a secure distribution network and sophisticated analytical tools on the front end to drive efficiencies and transparency into the research process and help firms generate alpha in new and differentiated ways.</p></div>
          </div>
          <div class="modal-footer">
              <a class="btn btn-primary" href="http://www.visiblealpha.com/" target="_blank">
                Visit Visible Alpha's website &nbsp;<i class="fa fa-external-link" aria-hidden="true"></i>
              </a>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
      </div>
  </div>
</div>

<!--************************************
  Sponsor Popup End - Visible Alpha
*************************************-->

<!--************************************
  Sponsor Modal Popup -Zeomega
*************************************-->
<div class="modal fade" id="zeomega-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <h4 class="modal-title" id="myModalLabel">ZeOmega</h4>
          </div>
          <div class="modal-body">
              <center><img class="img-responsive" width="350" height="350" src="images/sponsor/zeomega.png"></center>
              <div class="sponsors-description"><p>ZeOmega is the premier enabler of value-based care. It provides technical solutions to facilitate collaboration among healthcare stakeholders. Jiva™, Zeomega's Population Health Management Solution, helps healthcare organizations achieve Triple Aim goals.</p></div>
          </div>
          <div class="modal-footer">
              <a class="btn btn-primary" href="http://www.zeomega.com" target="_blank">
                Visit ZeOmega website &nbsp;<i class="fa fa-external-link" aria-hidden="true"></i>
              </a>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
      </div>
  </div>
</div>

<!--************************************
  Sponsor Popup End - zeomega
*************************************-->

<!--************************************
  Sponsor Modal Popup - Adobe
*************************************-->
<div class="modal fade" id="adobe-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <h4 class="modal-title" id="myModalLabel">Adobe Systems Incorporated</h4>
          </div>
          <div class="modal-body">
              <center><img class="img-responsive" style="margin:10px" width="150" height="150" src="images/sponsor/adobe.jpg"></center>
              <div class="sponsors-description"><p>Adobe is passionate about empowering the creative community to push boundaries through technology. We are constantly looking around the corner — to stay on top of the latest innovations and to build them into our tools — all of which helps kick-start the creative process so our customers can spend their time creating things, bigger and better.</p></div>
          </div>
          <div class="modal-footer">
              <a class="btn btn-primary" href="http://www.adobe.com" target="_blank">
                Visit Adobe's website &nbsp;<i class="fa fa-external-link" aria-hidden="true"></i>
              </a>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
      </div>
  </div>
</div>

<!--************************************
  Sponsor Popup End - Adobe
*************************************-->

<!--************************************
  Sponsor Modal Popup - PSF
*************************************-->
<div class="modal fade" id="psf-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <h4 class="modal-title" id="myModalLabel">Python Software Foundation</h4>
          </div>
          <div class="modal-body">
              <center><img class="img-responsive" width="350" height="350" style="margin:10px" src="images/sponsor/psf.png"></center>
              <div class="sponsors-description"><p>The Python Software Foundation (PSF) is a 501(c)(3) non-profit corporation that holds the intellectual property rights behind the Python programming language. It manages the open source licensing for Python version 2.1 and later and own and protect the trademarks associated with Python.</p></div>
          </div>
          <div class="modal-footer">
              <a class="btn btn-primary" href="https://www.python.org/psf-landing/" target="_blank">
                Visit PSF's website &nbsp;<i class="fa fa-external-link" aria-hidden="true"></i>
              </a>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
      </div>
  </div>
</div>

<!--************************************
  Sponsor Popup End - PSF
*************************************-->

<!--************************************
  Sponsor Modal Popup - FOSSEE
*************************************-->
<div class="modal fade" id="fossee-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <h4 class="modal-title" id="myModalLabel">FOSSEE</h4>
          </div>
          <div class="modal-body">
              <center><img class="img-responsive" width="300" height="300" src="images/sponsor/fossee.png"></center>
              <div class="sponsors-description"><p>Free and Open Source Software in Education (FOSSEE) project promotes the use of FOSS tools to improve the quality of education in India. FOSSEE aims to reduce dependency on proprietary software in educational institutions. FOSSEE also develops new FOSS tools and upgrade existing tools to meet requirements in academia and research.</p></div>
          </div>
          <div class="modal-footer">
              <a class="btn btn-primary" href="http://fossee.in/" target="_blank">
                Visit FOSSEE's website &nbsp;<i class="fa fa-external-link" aria-hidden="true"></i>
              </a>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
      </div>
  </div>
</div>

<!--************************************
  Sponsor Popup End - FOSSEE
*************************************-->

<!--************************************
  Sponsor Modal Popup - Pipal
*************************************-->
<div class="modal fade" id="pipal-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <h4 class="modal-title" id="myModalLabel">Pipal Academy</h4>
          </div>
          <div class="modal-body">
              <center><img class="img-responsive" width="200" height="200" style="margin:5px" src="images/sponsor/pipal.png"></center>
              <div class="sponsors-description"><p>Pipal Academy is a collective of experienced technologists, who care deeply about the art of software development. They offer in-depth courses on niche technical topics. Pipal Academy regularly conducts public workshops in Bangalore and also offer on-site corporate training.</p></div>
          </div>
          <div class="modal-footer">
              <a class="btn btn-primary" href="http://www.pipal.in" target="_blank">
                Visit Pipal Academy's website &nbsp;<i class="fa fa-external-link" aria-hidden="true"></i>
              </a>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
      </div>
  </div>
</div>

<!--************************************
  Sponsor Popup End - Pipal
*************************************-->

<section class="tg-sectionspace tg-haslayout tg-bgparallax tg-bgsponsor">
  <div class="container">
    <div class="row">
      <div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
        <div class="tg-sectionhead tg-colorwhite">
          <div class="tg-sectionheading">
            {# <h2>Brands Behind Us</h2> #}
            <h3 class="wow fadeInDown">Sponsors</h3>
          </div>
          <div class="tg-description">
              <p>PyCon India is entirely driven by volunteers. Sponsoring the event helps to sustain and grow the conference as well as the community. Sponsors help in making the conference affordable, and maintaining the inventory for the conference.</p>
            <br>
            <br>
            <!-- <p style="font-size: x-large;">Looking to become a sponsor?</p>
            <br>
            <div class="tg-btnarea">
            <a class="tg-btn" href="data/sponsorship_prospectus.pdf">Download Prospectus</a>
            <a class="tg-btn" href="mailto:sponsorship@in.pycon.org">Become A Sponsor</a>
            </div> -->
          </div>
        </div>
      </div>
      <div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
        <div class="tg-sectionhead">
            <h3 class="wow fadeInDown">Platinum Sponsors</h3>
        </div>
      </div>
      <ul class="tg-sponsors col-md-4">
        <li class="platinum">
          <figure class="tg-sponder">
            <a data-toggle="modal" href="#tensorflow-modal" target="_blank">
              <img src="images/sponsor/tensor_flow.jpg" alt="TensorFlow">
            </a>
          </figure>
        </li>
        <li class="platinum">
          <figure class="tg-sponder">
            <a data-toggle="modal" href="#microsoft-modal" target="_blank">
              <img src="images/sponsor/microsoft.jpg" alt="Microsoft">
            </a>
          </figure>
        </li>
        <li class="platinum">
          <figure class="tg-sponder">
            <a data-toggle="modal" href="#hypertrack-modal" target="_blank">
              <img class="img-fluid" src="images/sponsor/hypertrack.png" alt="Hypertrack">
            </a>
          </figure>
        </li>
      </ul>
       <div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
        <div class="tg-sectionhead">
            <h3 class="wow fadeInDown">Gold Sponsors</h3>
        </div>
      </div>
      <ul class="tg-sponsors col-md-4 col-md-offset-2">
      <li class="gold">
        <figure style="max-width:436px; padding:5px 11%; height:160px" class="tg-sponder">
          <a data-toggle="modal" href="#visible-alpha-modal" target="_blank">
            <img src="images/sponsor/visiblealpha.png" alt="VisibleAlpha">
          </a>
        </figure>
      </li>
    </ul>
      <div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
          <div class="tg-sectionhead">
              <h3 class="wow fadeInDown">Silver Sponsors</h3>
          </div>
      </div>
      <ul class="tg-sponsors col-md-4">
        <li>
          <figure class="tg-sponder">
             <a data-toggle="modal" href="#zeomega-modal" target="_blank">
              <img src="images/sponsor/zeomega.png" alt="ZeOmega">
            </a>
          </figure>
        </li>
        <li>
          <figure class="tg-sponder">
            <a data-toggle="modal" href="#adobe-modal" target="_blank">
              <img src="images/sponsor/adobe.jpg" alt="Adobe">
            </a>
          </figure>
        </li>
        <li>
          <figure class="tg-sponder psf">
            <a data-toggle="modal" href="#psf-modal" target="_blank">
              <img src="images/sponsor/psf.png" alt="PSF">
            </a>
          </figure>
        </li>
        <li>
          <figure class="tg-sponder fossee">
            <a data-toggle="modal" href="#fossee-modal" target="_blank">
              <img src="images/sponsor/fossee.png" alt="FOSSEE">
            </a>
          </figure>
        </li>
      </ul>

      <div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
        <div class="tg-sectionhead tg-colorwhite">
            <h3 class="wow fadeInDown">Associate Sponsors</h3>
        </div>
      </div>
      <ul class="tg-sponsors col-md-4">
        <!-- Adding pipal class to li for all the media size queries in css -->
        <li class = "pipal">
          <figure class="tg-sponder">
            <a data-toggle="modal" href="#pipal-modal" target="_blank">
              <img src="images/sponsor/pipal.png" alt="Pipal Academy" />
            </a>
          </figure>
        </li>
      </ul>
    </div>
  </div>
</section>
<!--************************************
    Sponsor End
*************************************-->
