<!--************************************
        Sponsor Starts
*************************************-->
<section class="tg-sectionspace tg-haslayout tg-bgparallax tg-bgsponsor">
    <div class="container">
        <div class="row">
            <div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
                <div class="tg-sectionhead tg-colorwhite">
                    <div class="tg-sectionheading">
                        {# <h2>Brands Behind Us</h2> #}
                        <h3>Sponsors</h3>
                    </div>
                    <div class="tg-description">
                        <p>PyCon India is entirely driven by volunteer. Sponsoring the event helps to sustain, grow the conference along with the community. Sponsors help to make the conference affordable for community, and maintaining the inventory for the conference.</p>
                        <br>
                        <br>
                        <p style="font-size: x-large;">Looking to become a sponsor?</p>
                        <br>
                        <div class="tg-btnarea">
                        <a class="tg-btn" href="data/sponsorship_prospectus.pdf">Download Prospectus</a>
                        <a class="tg-btn" href="mailto:sponsorship@in.pycon.org">Become A Sponsor</a>
                        </div>
                    </div>
                </div>
            </div>
            {# <ul class="tg-sponsors">
                <li>
                    <figure class="tg-sponder">
                        <a href="javascript:void(0);">
                            <img src="images/sponsor/sponsor.png" alt="image description">
                        </a>
                    </figure>
                </li>
                <li>
                    <figure class="tg-sponder">
                        <a href="javascript:void(0);">
                            <img src="images/sponsor/sponsor.png" alt="image description">
                        </a>
                    </figure>
                </li>
                <li>
                    <figure class="tg-sponder">
                        <a href="javascript:void(0);">
                            <img src="images/sponsor/sponsor.png" alt="image description">
                        </a>
                    </figure>
                </li>
                <li>
                    <figure class="tg-sponder">
                        <a href="javascript:void(0);">
                            <img src="images/sponsor/sponsor.png" alt="image description">
                        </a>
                    </figure>
                </li>
                <li>
                    <figure class="tg-sponder">
                        <a href="javascript:void(0);">
                            <img src="images/sponsor/sponsor.png" alt="image description">
                        </a>
                    </figure>
                </li>
                <li>
                    <figure class="tg-sponder">
                        <a href="javascript:void(0);">
                            <img src="images/sponsor/sponsor.png" alt="image description">
                        </a>
                    </figure>
                </li>
                <li>
                    <figure class="tg-sponder">
                        <a href="javascript:void(0);">
                            <img src="images/sponsor/sponsor.png" alt="image description">
                        </a>
                    </figure>
                </li>
                <li>
                    <figure class="tg-sponder">
                        <a href="javascript:void(0);">
                            <img src="images/sponsor/sponsor.png" alt="image description">
                        </a>
                    </figure>
                </li>
            </ul> #}
        </div>
    </div>
</section>
<!--************************************
        Sponsor End
*************************************-->
