<!--************************************
    Sponsor Starts
*************************************-->
<section class="tg-sectionspace tg-haslayout tg-bgparallax tg-bgsponsor">
  <div class="container">
    <div class="row">
      <div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
        <div class="tg-sectionhead tg-colorwhite">
          <div class="tg-sectionheading">
            {# <h2>Brands Behind Us</h2> #}
            <h3 class="wow fadeInDown">Sponsors</h3>
          </div>
          <div class="tg-description">
            <p>PyCon India is entirely driven by volunteers. Sponsoring the event helps to sustain and grow the conference as well as the community. Sponsors help in making the conference affordable, and maintaining the inventory for the conference.</p>
            <br>
            <br>
            <p style="font-size: x-large;">Looking to become a sponsor?</p>
            <br>
            <div class="tg-btnarea">
            <a class="tg-btn" href="data/sponsorship_prospectus.pdf">Download Prospectus</a>
            <a class="tg-btn" href="mailto:sponsorship@in.pycon.org">Become A Sponsor</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
        <div class="tg-sectionhead tg-colorwhite">
            <h3 class="wow fadeInDown">Gold Sponsors</h3>
        </div>
    </div>
    <ul class="tg-sponsors col-md-4">
      <li>
        <figure class="tg-sponder not-visible">
          <a href="#">
            <img src="images/sponsor/#.png" alt="#">
          </a>
        </figure>
      </li>
      <li>
        <figure class="tg-sponder">
          <a href="http://http://visiblealpha.com/">
            <img src="images/sponsor/visiblealpha.png" alt="VisibleAlpha">
          </a>
        </figure>
      </li>
      <li>
        <figure class="tg-sponder not-visible">
          <a href="#">
            <img src="images/sponsor/#.png" alt="#">
          </a>
        </figure>
      </li>
    </ul>
      <div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
          <div class="tg-sectionhead tg-colorwhite">
              <h3 class="wow fadeInDown">Silver Sponsors</h3>
          </div>
      </div>
      <ul class="tg-sponsors col-md-4">
        <li>
          <figure class="tg-sponder">
            <a href="http://www.zeomega.com/">
              <img src="images/sponsor/zeomega.png" alt="ZeOmega">
            </a>
          </figure>
        </li>
        <li>
          <figure class="tg-sponder">
            <a href="https://www.adobe.com/">
              <img src="images/sponsor/adobe.jpg" alt="Adobe">
            </a>
          </figure>
        </li>
        <li>
          <figure class="tg-sponder">
            <a href="https://www.python.org/psf-landing/">
              <img src="images/sponsor/psf.png" alt="PSF">
            </a>
          </figure>
        </li>
      </ul>
    </div>
  </div>
</section>
<!--************************************
    Sponsor End
*************************************-->
