<!--************************************
    Statistics Start
*************************************-->
<section class="tg-haslayout tg-bgparallax tg-bgcounter hidden-sm hidden-xs">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="tg-statisticscounters" class="tg-statisticscounters">
          <div class="tg-counterholder">
            <div class="tg-counter">
              <h2><span data-from="1" data-to="54" data-speed="2000" data-refresh-interval="50">54</span></h2>
              <h3>Speakers</h3>
              <span class="tg-statisticicon"><i class="fa fa-users" aria-hidden="true"></i></span>
            </div>
          </div>
          <div class="tg-counterholder">
            <div class="tg-counter">
              <h2><span data-from="0" data-to="04" data-speed="2000" data-refresh-interval="50">04</span></h2>
              <h3>Days Event</h3>
              <span class="tg-statisticicon"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span>
            </div>
          </div>
          <div class="tg-counterholder">
            <div class="tg-counter">
              <h2><span data-from="0" data-to="16" data-speed="2000" data-refresh-interval="50">16</span></h2>
              <h3>Workshops</h3>
              <span class="tg-statisticicon"><i class="fa fa-cogs" aria-hidden="true"></i></span>
            </div>
          </div>
          <div class="tg-counterholder">
            <div class="tg-counter">
              <h2><span data-from="0" data-to="38" data-speed="2000" data-refresh-interval="50">38</span></h2>
              <h3>Talks</h3>
              <span class="tg-statisticicon"><i class="fa fa-microphone" aria-hidden="true"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- For mobile-->
<section class="tg-haslayout tg-bgparallax tg-bgcounter hidden-md hidden-lg">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="tg-statisticscounters" class="tg-statisticscounters">
          <div class="tg-counterholder1">
            <div class="tg-counter">
              <h2><span data-from="1" data-to="25" data-speed="2000" data-refresh-interval="50">25</span></h2>
              <h3>Speakers</h3>
              <span class="tg-statisticicon"><i class="fa fa-users" aria-hidden="true"></i></span>
              <hr class="hr-statistics">
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="tg-statisticscounters" class="tg-statisticscounters">
          <div class="tg-counterholder1">
            <div class="tg-counter">
              <h2><span data-from="0" data-to="04" data-speed="2000" data-refresh-interval="50">04</span></h2>
              <h3>Days Event</h3>
              <span class="tg-statisticicon"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span>
              <hr class="hr-statistics">
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="tg-statisticscounters" class="tg-statisticscounters">
          <div class="tg-counterholder1">
            <div class="tg-counter">
              <h2><span data-from="0" data-to="09" data-speed="2000" data-refresh-interval="50">09</span></h2>
              <h3>Workshops</h3>
              <span class="tg-statisticicon"><i class="fa fa-cogs" aria-hidden="true"></i></span>
              <hr class="hr-statistics">
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="tg-statisticscounters" class="tg-statisticscounters">
          <div class="tg-counterholder1">
            <div class="tg-counter">
              <h2><span data-from="0" data-to="15" data-speed="2000" data-refresh-interval="50">15</span></h2>
              <h3>Talks</h3>
              <span class="tg-statisticicon"><i class="fa fa-microphone" aria-hidden="true"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--************************************
    Statistics End
*************************************-->
