<!--************************************
  Latest Tweet Start
*************************************-->
<section class="tg-sectionspace tg-haslayout">
  <div class="container">
    <div class="row">
    	<div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
    		<div class="tg-sectionhead">
    			<div class="tg-sectionheading">
    				<h2>Always Stay Updated</h2>
    				<h3 class="wow fadeInDown">Latest Tweets</h3>
    			</div>
    			<div class="tg-description">
    				<p>Keep watching this space for latest news and announcements.</p>
    			</div>
    		</div>
    	</div>
    	<div class="tg-latestarticles">
    		<div class="col-sm-12 col-md-12 col-lg-12">
    			<div id="pyconindia-tweets"></div>
    		</div>
    	</div>
    </div>
  </div>
</section>
<!--************************************
  Latest Tweet End
*************************************-->