		{% extends "components/_base.jinja" %}

		{% block content %}
		<!--************************************
				Inner Baner Start
		*************************************-->
		<div class="tg-innerbanner tg-haslayout tg-bgparallax">
			<div class="container">
				<div class="tg-innerbannercontent">
					<div class="tg-pagetitle">
						<h1>F.A.Q</h1>
					</div>
					<ol class="tg-breadcrumb">
						<li><a href="#">Home</a></li>
						<li class="tg-active">F.A.Q</li>
					</ol>
				</div>
			</div>
		</div>
		<!--************************************
				Inner Baner End
		*************************************-->
		<!--************************************
				Main Start
		*************************************-->
		<main id="tg-main" class="tg-main tg-haslayout">
			<div class="tg-askquestions tg-sectionspace">
				<div class="container">
					<div class="row">
						<div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
							<div class="tg-sectionhead-faq">
								<div class="tg-sectionheading">
									<h2>Frequently Asked Questions</h2>
									<h3>A Little Help For You</h3>
								</div>								
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="tg-commonquestions-faq">									
								<div id="tg-themescroll" class="tg-themeaccordian tg-themescrollbar">
									<div id="tg-accordion" class="tg-accordion" role="tablist" aria-multiselectable="true">
										<div class="tg-panel">
											<h4><span>Q.</span>I want to present a talk/workshop at the conference. What should I do?</h4>
											<div class="tg-panelcontent">
												<div class="tg-description">
													<p><span>A.</span>You can submit the proposal for your <a href="https://in.pycon.org/cfp/2017/proposals/">talk/workshop here</a>.</p>
												</div>
											</div>
										</div>
										<div class="tg-panel">
											<h4><span>Q.</span>How do I upload presentations to the site?</h4>
											<div class="tg-panelcontent">
												<div class="tg-description">
													<p><span>A.</span>We don't support presentation uploads yet. Please upload your presentation to a public site such as SlideShare or Google Docs and use that link in your talk's description.</p>
												</div>
											</div>
										</div>
										<div class="tg-panel">
											<h4><span>Q.</span>I want to volunteer for the conference. What should I do?</h4>
											<div class="tg-panelcontent">
												<div class="tg-description">
													<p><span>A.</span>Please share your details by <a href="http://bit.ly/inpycon2017">filling this form</a> and the team will soon get back to you with responsibilities according to the domains you choose.</p>
												</div>
											</div>
										</div>
										<div class="tg-panel">
											<h4><span>Q.</span>I am a speaker/volunteer at the conference. Do I need to buy a ticket?</h4>
											<div class="tg-panelcontent">
												<div class="tg-description">
													<p><span>A.</span>Yes. At PyCon India, everybody buys tickets. Even the event organizers buy tickets. Your ticket helps keep the event affordable for all.</p>
												</div>
											</div>
										</div>
										<div class="tg-panel">
											<h4><span>Q.</span>Will the Internet and WiFi setup be good enough for a large crowd? Should I get a datacard?</h4>
											<div class="tg-panelcontent">
												<div class="tg-description">
													<p><span>A.</span>We try really hard to arrange good Internet at the venue. Most of the times it is adequate. But the unpredictable amount of usage during the event sometimes causes some problems. So it is fine if you don’t carry a data card, but there is no harm in being prepared for the worst.
													</p>
												</div>
											</div>
										</div>
										<div class="tg-panel">
											<h4><span>Q.</span>What are the workshop and conference timings?</h4>
											<div class="tg-panelcontent">
												<div class="tg-description">
													<p><span>A.</span>- Workshop and Devsprint (Nov 2nd and 3rd): 08:00 AM - 06:30 PM.<br>
													 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Conference days (Nov 4th and 5th): 08:00 AM - 5.30 PM.</p>
												</div>
											</div>
										</div>
										<div class="tg-panel">
											<h4><span>Q.</span>What all does the Conference ticket (November 4 &amp; 5) include? </h4>
											<div class="tg-panelcontent">
												<div class="tg-description">
													<p><span>A.</span>- Full conference pass for two days.<br>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Breakfast, Lunch and Hi-Tea.<br>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- PyCon India T-shirt which will be distributed on Sep 25.
													</p>
												</div>
											</div>
										</div>
										<div class="tg-panel">
											<h4><span>Q.</span>My talk is not selected for conference, can I opt for OpenSpace? </h4>
											<div class="tg-panelcontent">
												<div class="tg-description">
													<p><span>A.</span>Yes. You can submit an OpenSpace proposal once we start accepting the same. Keep following to further updates.</p>
												</div>
											</div>
										</div>
										<div class="tg-panel">
											<h4><span>Q.</span>What is the screening process of OpenSpace talk?</h4>
											<div class="tg-panelcontent">
												<div class="tg-description">
													<p><span>A.</span>There is no screening process.
														We are trying to be better organized upfront by knowing the number of OpenSpace talks. This will help the organizing team plan to get all logistics required.</p>
												</div>
											</div>
										</div>
										<!-- <div class="tg-panel">
											<h4><span>Q.</span>Where can I stay while in Delhi for the conference?/h4>
											<div class="tg-panelcontent">
												<div class="tg-description">
													<p><span>A.</span>There is a vibrant Python community in Delhi with whom one can share rooms. Else, you can also look for budget hotels around the Jawahar Lal Nehru University.</p>
												</div>
											</div>
										</div> -->
										<!-- <div class="tg-panel">
											<h4><span>Q.</span>How can I travel to the conference venue?</h4>
											<div class="tg-panelcontent">
												<div class="tg-description">
													<p><span>A.</span>You can easily reach the conference by taking a cab to the Jawahar Lal Nehru University. The venue also has good public transport connectivity:<br>
													- Green Park Metro Station - 7.5 Km<br>
													- Rajiv Chowk Metro Station- 15 Km<br>
													- Hazrat Nizammudin Railway Station - 15.5 Km
													</p>
												</div>
											</div>
										</div> -->
										<div class="tg-panel">
											<h4><span>Q.</span>I need to cancel my ticket due to unavoidable cicumstances. What is the refund policy?</h4>
											<div class="tg-panelcontent">
												<div class="tg-description">
												<p><span>A.</span>- All tickets are transferable.<br>
														&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Early bird tickets cannot be canceled. They can only be transferred.<br>
														&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- All other tickets can be canceled till 10th Oct 2017.<br>
														&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Tickets can be transferred till 10th Oct 2017 using the ticket transfer <a href="https://www.explara.com/manage-tickets">link</a>.</p>
												</div>
											</div>
										</div>
										<div class="tg-panel">
											<h4><span>Q.</span>My question is not listed here / I am still unclear about a few things. Whom should I contact?</h4>
											<div class="tg-panelcontent">
												<div class="tg-description">
													<p><span>A.</span>Please send an email to <a href="mailto:contact@in.pycon.org">contact@in.pycon.org.</a></p>
												</div>
											</div>
										</div>										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<!--************************************
				Main End
		*************************************-->
		{% endblock %}