		{% extends "components/_base.jinja" %}

		{% block content %}
	
		<!--************************************
				Inner Baner Start
		*************************************-->
		<div class="tg-innerbanner tg-haslayout tg-bgparallax">
			<div class="container">
				<div class="tg-innerbannercontent">
					<div class="tg-pagetitle">
						<h1>Gallery</h1>
					</div>
					<ol class="tg-breadcrumb">
						<li><a href="#">Home</a></li>
						<li class="tg-active">Gallery</li>
					</ol>
				</div>
			</div>
		</div>
		<!--************************************
				Inner Baner End
		*************************************-->
		<!--************************************
				Main Start
		*************************************-->
		<main id="tg-main" class="tg-main tg-haslayout">
			<!--************************************
					Gallery Start					
			*************************************-->
			<div class="tg-sectionspace tg-haslayout">
				<div class="container">
					<div class="row">
						<div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
							<div class="tg-sectionhead">
								<div class="tg-sectionheading">
									<h2>Clicks From Previous Events</h2>
									<h3>Our Events Gallery</h3>
								</div>
								<div class="tg-description">
									<p>Consectetur adipisicing elit sed do eiusmod tempor incididunt utnaecte laboret dolore magna aliqua enim adiatai minim veniam quista nostrud exercitation ullamco laboris nisi ut aliquip exeation.</p>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-mg-12 col-lg-12">
							<div class="tg-gallerymasnory">
								<ul id="tg-navfilterbale" class="tg-navfilterbale tg-optionset">
									<li><a class="tg-active" data-filter="*" href="javascript:void(0);">Event In 2013</a></li>
									<li><a data-filter=".womenlaw" href="javascript:void(0);">Event In 2014</a></li>
									<li><a data-filter=".criminallaw" href="javascript:void(0);">Event In 2015</a></li>
									<li><a data-filter=".childlaw" href="javascript:void(0);">Event In 2016</a></li>
									<li><a data-filter=".vatinarylaw" href="javascript:void(0);">Event In 2017</a></li>
								</ul>
								<div id="tg-galleryfilterable" class="tg-galleryfilterable">
									<div class="tg-masonrygrid womenlaw">
										<div class="tg-gallery">
											<figure class="tg-themeimgborder">
												<a href="#"><img src="images/gallery/img-01.jpg" alt="image description"></a>
											</figure>
											<div class="tg-galleryhover">
												<div class="tg-leftarea">
													<time datetime="2017-12-12">June 27, 2013</time>
													<div class="tg-title">
														<h2>How To Stay Alive In Market</h2>
													</div>
												</div>
												<a class="tg-btnexpand" href="images/gallery/img-01.jpg" data-rel="prettyPhoto[gallery]"><i class="icon-frame-expand"></i></a>
											</div>
										</div>
									</div>
									<div class="tg-masonrygrid womenlaw">
										<div class="tg-gallery">
											<figure class="tg-themeimgborder">
												<a href="#"><img src="images/gallery/img-02.jpg" alt="image description"></a>
											</figure>
											<div class="tg-galleryhover">
												<div class="tg-leftarea">
													<time datetime="2017-12-12">June 27, 2013</time>
													<div class="tg-title">
														<h2>How To Stay Alive In Market</h2>
													</div>
												</div>
												<a class="tg-btnexpand" href="images/gallery/img-01.jpg" data-rel="prettyPhoto[gallery]"><i class="icon-frame-expand"></i></a>
											</div>
										</div>
									</div>
									<div class="tg-masonrygrid lethallaw">
										<div class="tg-gallery">
											<figure class="tg-themeimgborder">
												<a href="#"><img src="images/gallery/img-03.jpg" alt="image description"></a>
											</figure>
											<div class="tg-galleryhover">
												<div class="tg-leftarea">
													<time datetime="2017-12-12">June 27, 2013</time>
													<div class="tg-title">
														<h2>How To Stay Alive In Market</h2>
													</div>
												</div>
												<a class="tg-btnexpand" href="images/gallery/img-01.jpg" data-rel="prettyPhoto[gallery]"><i class="icon-frame-expand"></i></a>
											</div>
										</div>
									</div>
									<div class="tg-masonrygrid criminallaw">
										<div class="tg-gallery">
											<figure class="tg-themeimgborder">
												<a href="#"><img src="images/gallery/img-04.jpg" alt="image description"></a>
											</figure>
											<div class="tg-galleryhover">
												<div class="tg-leftarea">
													<time datetime="2017-12-12">June 27, 2013</time>
													<div class="tg-title">
														<h2>How To Stay Alive In Market</h2>
													</div>
												</div>
												<a class="tg-btnexpand" href="images/gallery/img-01.jpg" data-rel="prettyPhoto[gallery]"><i class="icon-frame-expand"></i></a>
											</div>
										</div>
									</div>
									<div class="tg-masonrygrid childlaw">
										<div class="tg-gallery">
											<figure class="tg-themeimgborder">
												<a href="#"><img src="images/gallery/img-05.jpg" alt="image description"></a>
											</figure>
											<div class="tg-galleryhover">
												<div class="tg-leftarea">
													<time datetime="2017-12-12">June 27, 2013</time>
													<div class="tg-title">
														<h2>How To Stay Alive In Market</h2>
													</div>
												</div>
												<a class="tg-btnexpand" href="images/gallery/img-01.jpg" data-rel="prettyPhoto[gallery]"><i class="icon-frame-expand"></i></a>
											</div>
										</div>
									</div>
									<div class="tg-masonrygrid criminallaw">
										<div class="tg-gallery">
											<figure class="tg-themeimgborder">
												<a href="#"><img src="images/gallery/img-06.jpg" alt="image description"></a>
											</figure>
											<div class="tg-galleryhover">
												<div class="tg-leftarea">
													<time datetime="2017-12-12">June 27, 2013</time>
													<div class="tg-title">
														<h2>How To Stay Alive In Market</h2>
													</div>
												</div>
												<a class="tg-btnexpand" href="images/gallery/img-01.jpg" data-rel="prettyPhoto[gallery]"><i class="icon-frame-expand"></i></a>
											</div>
										</div>
									</div>
									<div class="tg-masonrygrid childlaw">
										<div class="tg-gallery">
											<figure class="tg-themeimgborder">
												<a href="#"><img src="images/gallery/img-07.jpg" alt="image description"></a>
											</figure>
											<div class="tg-galleryhover">
												<div class="tg-leftarea">
													<time datetime="2017-12-12">June 27, 2013</time>
													<div class="tg-title">
														<h2>How To Stay Alive In Market</h2>
													</div>
												</div>
												<a class="tg-btnexpand" href="images/gallery/img-01.jpg" data-rel="prettyPhoto[gallery]"><i class="icon-frame-expand"></i></a>
											</div>
										</div>
									</div>
									<div class="tg-masonrygrid vatinarylaw">
										<div class="tg-gallery">
											<figure class="tg-themeimgborder">
												<a href="#"><img src="images/gallery/img-08.jpg" alt="image description"></a>
											</figure>
											<div class="tg-galleryhover">
												<div class="tg-leftarea">
													<time datetime="2017-12-12">June 27, 2013</time>
													<div class="tg-title">
														<h2>How To Stay Alive In Market</h2>
													</div>
												</div>
												<a class="tg-btnexpand" href="images/gallery/img-01.jpg" data-rel="prettyPhoto[gallery]"><i class="icon-frame-expand"></i></a>
											</div>
										</div>
									</div>
									<div class="tg-masonrygrid suicidelaw">
										<div class="tg-gallery">
											<figure class="tg-themeimgborder">
												<a href="#"><img src="images/gallery/img-09.jpg" alt="image description"></a>
											</figure>
											<div class="tg-galleryhover">
												<div class="tg-leftarea">
													<time datetime="2017-12-12">June 27, 2013</time>
													<div class="tg-title">
														<h2>How To Stay Alive In Market</h2>
													</div>
												</div>
												<a class="tg-btnexpand" href="images/gallery/img-01.jpg" data-rel="prettyPhoto[gallery]"><i class="icon-frame-expand"></i></a>
											</div>
										</div>
									</div>
									<div class="tg-masonrygrid vatinarylaw">
										<div class="tg-gallery">
											<figure class="tg-themeimgborder">
												<a href="#"><img src="images/gallery/img-10.jpg" alt="image description"></a>
											</figure>
											<div class="tg-galleryhover">
												<div class="tg-leftarea">
													<time datetime="2017-12-12">June 27, 2013</time>
													<div class="tg-title">
														<h2>How To Stay Alive In Market</h2>
													</div>
												</div>
												<a class="tg-btnexpand" href="images/gallery/img-01.jpg" data-rel="prettyPhoto[gallery]"><i class="icon-frame-expand"></i></a>
											</div>
										</div>
									</div>
									<div class="tg-masonrygrid suicidelaw">
										<div class="tg-gallery">
											<figure class="tg-themeimgborder">
												<a href="#"><img src="images/gallery/img-11.jpg" alt="image description"></a>
											</figure>
											<div class="tg-galleryhover">
												<div class="tg-leftarea">
													<time datetime="2017-12-12">June 27, 2013</time>
													<div class="tg-title">
														<h2>How To Stay Alive In Market</h2>
													</div>
												</div>
												<a class="tg-btnexpand" href="images/gallery/img-01.jpg" data-rel="prettyPhoto[gallery]"><i class="icon-frame-expand"></i></a>
											</div>
										</div>
									</div>
									<div class="tg-masonrygrid lethallaw">
										<div class="tg-gallery">
											<figure class="tg-themeimgborder">
												<a href="#"><img src="images/gallery/img-12.jpg" alt="image description"></a>
											</figure>
											<div class="tg-galleryhover">
												<div class="tg-leftarea">
													<time datetime="2017-12-12">June 27, 2013</time>
													<div class="tg-title">
														<h2>How To Stay Alive In Market</h2>
													</div>
												</div>
												<a class="tg-btnexpand" href="images/gallery/img-01.jpg" data-rel="prettyPhoto[gallery]"><i class="icon-frame-expand"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--************************************
					Gallery End						
			*************************************-->
		</main>
		<!--************************************
				Main End
		*************************************-->
		{% endblock %}