    {% extends "components/_base.jinja" %}

    {% block content %}

    <!--************************************
        Inner Baner Start
    *************************************-->
    <div class="tg-innerbanner tg-haslayout tg-bgparallax">
      <div class="container">
        <div class="tg-innerbannercontent">
          <div class="tg-pagetitle">
            <h1 class="animated fadeInDown">Gallery</h1>
          </div>
          <ol class="tg-breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="tg-active">Gallery</li>
          </ol>
        </div>
      </div>
    </div>
    <!--************************************
        Inner Baner End
    *************************************-->
    <!--************************************
        Main Start
    *************************************-->
    <main id="tg-main" class="tg-main tg-haslayout">
      <!--************************************
          Gallery Start
      *************************************-->
      <div class="tg-sectionspace tg-haslayout">
        <div class="container">
          <div class="row">
            <div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
              <div class="tg-sectionhead">
                <div class="tg-sectionheading">
                  <h2>Clicks From Previous Events</h2>
                  <h3>Our Events Gallery</h3>
                  <small>Photos are contributed by Kushal Das and Sayan Chowdhury</small>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-mg-12 col-lg-12">
              <div class="tg-gallerymasnory">
                <ul id="tg-navfilterbale" class="tg-navfilterbale tg-optionset">
                  <li><a class="tg-active" data-filter="*" href="javascript:void(0);">Mixed Gallery</a></li>
                  <li><a data-filter=".2016" href="javascript:void(0);">Event In 2016</a></li>
                  <li><a data-filter=".2015" href="javascript:void(0);">Event In 2015</a></li>
                  <li><a data-filter=".2014" href="javascript:void(0);">Event In 2014</a></li>
                  <li><a data-filter=".2013" href="javascript:void(0);">Event In 2013</a></li>
                </ul>
                <div id="tg-galleryfilterable" class="tg-galleryfilterable">
                  <!-- 2016 Pycon Gallery Start-->
                  <div class="tg-masonrygrid 2016">
                    <div class="tg-gallery">
                      <figure class="tg-themeimgborder">
                        <a href="#"><img src="images/gallery/2016/1.png" alt="image description"></a>
                      </figure>
                      <div class="tg-galleryhover">
                        <a class="tg-btnexpand" href="images/gallery/2016/1.png" data-rel="prettyPhoto[gallery]"><i class="icon-frame-expand"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="tg-masonrygrid 2016">
                    <div class="tg-gallery">
                      <figure class="tg-themeimgborder">
                        <a href="#"><img src="images/gallery/2016/2.png" alt="image description"></a>
                      </figure>
                      <div class="tg-galleryhover">
                        <a class="tg-btnexpand" href="images/gallery/2016/2.png" data-rel="prettyPhoto[gallery]"><i class="icon-frame-expand"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="tg-masonrygrid 2016">
                    <div class="tg-gallery">
                      <figure class="tg-themeimgborder">
                        <a href="#"><img src="images/gallery/2016/3.png" alt="image description"></a>
                      </figure>
                      <div class="tg-galleryhover">
                        <a class="tg-btnexpand" href="images/gallery/2016/3.png" data-rel="prettyPhoto[gallery]"><i class="icon-frame-expand"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="tg-masonrygrid 2016">
                    <div class="tg-gallery">
                      <figure class="tg-themeimgborder">
                        <a href="#"><img src="images/gallery/2016/4.png" alt="image description"></a>
                      </figure>
                      <div class="tg-galleryhover">
                        <a class="tg-btnexpand" href="images/gallery/2016/4.png" data-rel="prettyPhoto[gallery]"><i class="icon-frame-expand"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="tg-masonrygrid 2016">
                    <div class="tg-gallery">
                      <figure class="tg-themeimgborder">
                        <a href="#"><img src="images/gallery/2016/5.png" alt="image description"></a>
                      </figure>
                      <div class="tg-galleryhover">
                        <a class="tg-btnexpand" href="images/gallery/2016/5.png" data-rel="prettyPhoto[gallery]"><i class="icon-frame-expand"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="tg-masonrygrid 2016">
                    <div class="tg-gallery">
                      <figure class="tg-themeimgborder">
                        <a href="#"><img src="images/gallery/2016/6.png" alt="image description"></a>
                      </figure>
                      <div class="tg-galleryhover">
                        <a class="tg-btnexpand" href="images/gallery/2016/6.png" data-rel="prettyPhoto[gallery]"><i class="icon-frame-expand"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="tg-masonrygrid 2016">
                    <div class="tg-gallery">
                      <figure class="tg-themeimgborder">
                        <a href="#"><img src="images/gallery/2016/7.png" alt="image description"></a>
                      </figure>
                      <div class="tg-galleryhover">
                        <a class="tg-btnexpand" href="images/gallery/2016/7.png" data-rel="prettyPhoto[gallery]"><i class="icon-frame-expand"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="tg-masonrygrid 2016">
                    <div class="tg-gallery">
                      <figure class="tg-themeimgborder">
                        <a href="#"><img src="images/gallery/2016/8.png" alt="image description"></a>
                      </figure>
                      <div class="tg-galleryhover">
                        <a class="tg-btnexpand" href="images/gallery/2016/8.png" data-rel="prettyPhoto[gallery]"><i class="icon-frame-expand"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="tg-masonrygrid 2016">
                    <div class="tg-gallery">
                      <figure class="tg-themeimgborder">
                        <a href="#"><img src="images/gallery/2016/9.png" alt="image description"></a>
                      </figure>
                      <div class="tg-galleryhover">
                        <a class="tg-btnexpand" href="images/gallery/2016/9.png" data-rel="prettyPhoto[gallery]"><i class="icon-frame-expand"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="tg-masonrygrid 2016">
                    <div class="tg-gallery">
                      <figure class="tg-themeimgborder">
                        <a href="#"><img src="images/gallery/2016/10.png" alt="image description"></a>
                      </figure>
                      <div class="tg-galleryhover">
                        <a class="tg-btnexpand" href="images/gallery/2016/10.png" data-rel="prettyPhoto[gallery]"><i class="icon-frame-expand"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="tg-masonrygrid 2016">
                    <div class="tg-gallery">
                      <figure class="tg-themeimgborder">
                        <a href="#"><img src="images/gallery/2016/11.png" alt="image description"></a>
                      </figure>
                      <div class="tg-galleryhover">
                        <a class="tg-btnexpand" href="images/gallery/2016/11.png" data-rel="prettyPhoto[gallery]"><i class="icon-frame-expand"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="tg-masonrygrid 2016">
                    <div class="tg-gallery">
                      <figure class="tg-themeimgborder">
                        <a href="#"><img src="images/gallery/2016/12.png" alt="image description"></a>
                      </figure>
                      <div class="tg-galleryhover">
                        <a class="tg-btnexpand" href="images/gallery/2016/12.png" data-rel="prettyPhoto[gallery]"><i class="icon-frame-expand"></i></a>
                      </div>
                    </div>
                  </div>
                  <!--2016 PyCon Gallery End-->
                  <!--2015 PyCon Gallery Start-->
                  <div class="tg-masonrygrid 2015">
                    <div class="tg-gallery">
                      <figure class="tg-themeimgborder">
                        <a href="#"><img src="images/gallery/2015/1.jpg" alt="image description"></a>
                      </figure>
                      <div class="tg-galleryhover">
                        <a class="tg-btnexpand" href="images/gallery/2015/1.jpg" data-rel="prettyPhoto[gallery]"><i class="icon-frame-expand"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="tg-masonrygrid 2015">
                    <div class="tg-gallery">
                      <figure class="tg-themeimgborder">
                        <a href="#"><img src="images/gallery/2015/2.jpg" alt="image description"></a>
                      </figure>
                      <div class="tg-galleryhover">
                        <a class="tg-btnexpand" href="images/gallery/2015/2.jpg" data-rel="prettyPhoto[gallery]"><i class="icon-frame-expand"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="tg-masonrygrid 2015">
                    <div class="tg-gallery">
                      <figure class="tg-themeimgborder">
                        <a href="#"><img src="images/gallery/2015/3.png" alt="image description"></a>
                      </figure>
                      <div class="tg-galleryhover">
                        <a class="tg-btnexpand" href="images/gallery/2015/3.png" data-rel="prettyPhoto[gallery]"><i class="icon-frame-expand"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="tg-masonrygrid 2015">
                    <div class="tg-gallery">
                      <figure class="tg-themeimgborder">
                        <a href="#"><img src="images/gallery/2015/4.jpg" alt="image description"></a>
                      </figure>
                      <div class="tg-galleryhover">
                        <a class="tg-btnexpand" href="images/gallery/2015/4.jpg" data-rel="prettyPhoto[gallery]"><i class="icon-frame-expand"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="tg-masonrygrid 2015">
                    <div class="tg-gallery">
                      <figure class="tg-themeimgborder">
                        <a href="#"><img src="images/gallery/2015/5.png" alt="image description"></a>
                      </figure>
                      <div class="tg-galleryhover">
                        <a class="tg-btnexpand" href="images/gallery/2015/5.png" data-rel="prettyPhoto[gallery]"><i class="icon-frame-expand"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="tg-masonrygrid 2015">
                    <div class="tg-gallery">
                      <figure class="tg-themeimgborder">
                        <a href="#"><img src="images/gallery/2015/6.jpg" alt="image description"></a>
                      </figure>
                      <div class="tg-galleryhover">
                        <a class="tg-btnexpand" href="images/gallery/2015/6.jpg" data-rel="prettyPhoto[gallery]"><i class="icon-frame-expand"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="tg-masonrygrid 2015">
                    <div class="tg-gallery">
                      <figure class="tg-themeimgborder">
                        <a href="#"><img src="images/gallery/2015/7.jpg" alt="image description"></a>
                      </figure>
                      <div class="tg-galleryhover">
                        <a class="tg-btnexpand" href="images/gallery/2015/7.jpg" data-rel="prettyPhoto[gallery]"><i class="icon-frame-expand"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="tg-masonrygrid 2015">
                    <div class="tg-gallery">
                      <figure class="tg-themeimgborder">
                        <a href="#"><img src="images/gallery/2015/8.jpg" alt="image description"></a>
                      </figure>
                      <div class="tg-galleryhover">
                        <a class="tg-btnexpand" href="images/gallery/2015/8.jpg" data-rel="prettyPhoto[gallery]"><i class="icon-frame-expand"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="tg-masonrygrid 2015">
                    <div class="tg-gallery">
                      <figure class="tg-themeimgborder">
                        <a href="#"><img src="images/gallery/2015/9.jpg" alt="image description"></a>
                      </figure>
                      <div class="tg-galleryhover">
                        <a class="tg-btnexpand" href="images/gallery/2015/9.jpg" data-rel="prettyPhoto[gallery]"><i class="icon-frame-expand"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="tg-masonrygrid 2015">
                    <div class="tg-gallery">
                      <figure class="tg-themeimgborder">
                        <a href="#"><img src="images/gallery/2015/10.png" alt="image description"></a>
                      </figure>
                      <div class="tg-galleryhover">
                        <a class="tg-btnexpand" href="images/gallery/2015/10.png" data-rel="prettyPhoto[gallery]"><i class="icon-frame-expand"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="tg-masonrygrid 2015">
                    <div class="tg-gallery">
                      <figure class="tg-themeimgborder">
                        <a href="#"><img src="images/gallery/2015/11.png" alt="image description"></a>
                      </figure>
                      <div class="tg-galleryhover">
                        <a class="tg-btnexpand" href="images/gallery/2015/11.png" data-rel="prettyPhoto[gallery]"><i class="icon-frame-expand"></i></a>
                      </div>
                    </div>
                  </div>
                  <!--2015 PyCon gallery end-->
                  <!--2014 PyCon Gallery Start -->
                  <div class="tg-masonrygrid 2014">
                    <div class="tg-gallery">
                      <figure class="tg-themeimgborder">
                        <a href="#"><img src="images/gallery/2014/1.png" alt="image description"></a>
                      </figure>
                      <div class="tg-galleryhover">
                        <a class="tg-btnexpand" href="images/gallery/2014/1.png" data-rel="prettyPhoto[gallery]"><i class="icon-frame-expand"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="tg-masonrygrid 2014">
                    <div class="tg-gallery">
                      <figure class="tg-themeimgborder">
                        <a href="#"><img src="images/gallery/2014/2.png" alt="image description"></a>
                      </figure>
                      <div class="tg-galleryhover">
                        <a class="tg-btnexpand" href="images/gallery/2014/3.png" data-rel="prettyPhoto[gallery]"><i class="icon-frame-expand"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="tg-masonrygrid 2014">
                    <div class="tg-gallery">
                      <figure class="tg-themeimgborder">
                        <a href="#"><img src="images/gallery/2014/4.png" alt="image description"></a>
                      </figure>
                      <div class="tg-galleryhover">
                        <a class="tg-btnexpand" href="images/gallery/2014/4.png" data-rel="prettyPhoto[gallery]"><i class="icon-frame-expand"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="tg-masonrygrid 2014">
                    <div class="tg-gallery">
                      <figure class="tg-themeimgborder">
                        <a href="#"><img src="images/gallery/2014/5.png" alt="image description"></a>
                      </figure>
                      <div class="tg-galleryhover">
                        <a class="tg-btnexpand" href="images/gallery/2014/5.png" data-rel="prettyPhoto[gallery]"><i class="icon-frame-expand"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="tg-masonrygrid 2014">
                    <div class="tg-gallery">
                      <figure class="tg-themeimgborder">
                        <a href="#"><img src="images/gallery/2014/6.png" alt="image description"></a>
                      </figure>
                      <div class="tg-galleryhover">
                        <a class="tg-btnexpand" href="images/gallery/2014/6.png" data-rel="prettyPhoto[gallery]"><i class="icon-frame-expand"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="tg-masonrygrid 2014">
                    <div class="tg-gallery">
                      <figure class="tg-themeimgborder">
                        <a href="#"><img src="images/gallery/2014/7.png" alt="image description"></a>
                      </figure>
                      <div class="tg-galleryhover">
                        <a class="tg-btnexpand" href="images/gallery/2014/7.png" data-rel="prettyPhoto[gallery]"><i class="icon-frame-expand"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="tg-masonrygrid 2014">
                    <div class="tg-gallery">
                      <figure class="tg-themeimgborder">
                        <a href="#"><img src="images/gallery/2014/8.png" alt="image description"></a>
                      </figure>
                      <div class="tg-galleryhover">
                        <a class="tg-btnexpand" href="images/gallery/2014/8.png" data-rel="prettyPhoto[gallery]"><i class="icon-frame-expand"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="tg-masonrygrid 2014">
                    <div class="tg-gallery">
                      <figure class="tg-themeimgborder">
                        <a href="#"><img src="images/gallery/2014/9.png" alt="image description"></a>
                      </figure>
                      <div class="tg-galleryhover">
                        <a class="tg-btnexpand" href="images/gallery/2014/9.png" data-rel="prettyPhoto[gallery]"><i class="icon-frame-expand"></i></a>
                      </div>
                    </div>
                  </div>
                  <!-- 2014 PyCon gallery ends-->
                  <!-- 2013 Pycon gallery start-->
                  <div class="tg-masonrygrid 2013">
                    <div class="tg-gallery">
                      <figure class="tg-themeimgborder">
                        <a href="#"><img src="images/gallery/2013/1.png" alt="image description"></a>
                      </figure>
                      <div class="tg-galleryhover">
                        <a class="tg-btnexpand" href="images/gallery/2013/1.png" data-rel="prettyPhoto[gallery]"><i class="icon-frame-expand"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="tg-masonrygrid 2013">
                    <div class="tg-gallery">
                      <figure class="tg-themeimgborder">
                        <a href="#"><img src="images/gallery/2013/2.png" alt="image description"></a>
                      </figure>
                      <div class="tg-galleryhover">
                        <a class="tg-btnexpand" href="images/gallery/2013/2.png" data-rel="prettyPhoto[gallery]"><i class="icon-frame-expand"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="tg-masonrygrid 2013">
                    <div class="tg-gallery">
                      <figure class="tg-themeimgborder">
                        <a href="#"><img src="images/gallery/2013/3.png" alt="image description"></a>
                      </figure>
                      <div class="tg-galleryhover">
                        <a class="tg-btnexpand" href="images/gallery/2013/3.png" data-rel="prettyPhoto[gallery]"><i class="icon-frame-expand"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="tg-masonrygrid 2013">
                    <div class="tg-gallery">
                      <figure class="tg-themeimgborder">
                        <a href="#"><img src="images/gallery/2013/4.png" alt="image description"></a>
                      </figure>
                      <div class="tg-galleryhover">
                        <a class="tg-btnexpand" href="images/gallery/2013/4.png" data-rel="prettyPhoto[gallery]"><i class="icon-frame-expand"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="tg-masonrygrid 2013">
                    <div class="tg-gallery">
                      <figure class="tg-themeimgborder">
                        <a href="#"><img src="images/gallery/2013/5.png" alt="image description"></a>
                      </figure>
                      <div class="tg-galleryhover">
                        <a class="tg-btnexpand" href="images/gallery/2013/5.png" data-rel="prettyPhoto[gallery]"><i class="icon-frame-expand"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="tg-masonrygrid 2013">
                    <div class="tg-gallery">
                      <figure class="tg-themeimgborder">
                        <a href="#"><img src="images/gallery/2013/6.png" alt="image description"></a>
                      </figure>
                      <div class="tg-galleryhover">
                        <a class="tg-btnexpand" href="images/gallery/2013/6.png" data-rel="prettyPhoto[gallery]"><i class="icon-frame-expand"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="tg-masonrygrid 2013">
                    <div class="tg-gallery">
                      <figure class="tg-themeimgborder">
                        <a href="#"><img src="images/gallery/2013/7.png" alt="image description"></a>
                      </figure>
                      <div class="tg-galleryhover">
                        <a class="tg-btnexpand" href="images/gallery/2013/7.png" data-rel="prettyPhoto[gallery]"><i class="icon-frame-expand"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="tg-masonrygrid 2013">
                    <div class="tg-gallery">
                      <figure class="tg-themeimgborder">
                        <a href="#"><img src="images/gallery/2013/8.png" alt="image description"></a>
                      </figure>
                      <div class="tg-galleryhover">
                        <a class="tg-btnexpand" href="images/gallery/2013/8.png" data-rel="prettyPhoto[gallery]"><i class="icon-frame-expand"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="tg-masonrygrid 2013">
                    <div class="tg-gallery">
                      <figure class="tg-themeimgborder">
                        <a href="#"><img src="images/gallery/2013/9.png" alt="image description"></a>
                      </figure>
                      <div class="tg-galleryhover">
                        <a class="tg-btnexpand" href="images/gallery/2013/9.png" data-rel="prettyPhoto[gallery]"><i class="icon-frame-expand"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="tg-masonrygrid 2013">
                    <div class="tg-gallery">
                      <figure class="tg-themeimgborder">
                        <a href="#"><img src="images/gallery/2013/10.png" alt="image description"></a>
                      </figure>
                      <div class="tg-galleryhover">
                        <a class="tg-btnexpand" href="images/gallery/2013/10.png" data-rel="prettyPhoto[gallery]"><i class="icon-frame-expand"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="tg-masonrygrid 2013">
                    <div class="tg-gallery">
                      <figure class="tg-themeimgborder">
                        <a href="#"><img src="images/gallery/2013/11.png" alt="image description"></a>
                      </figure>
                      <div class="tg-galleryhover">
                        <a class="tg-btnexpand" href="images/gallery/2013/11.png" data-rel="prettyPhoto[gallery]"><i class="icon-frame-expand"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="tg-masonrygrid 2013">
                    <div class="tg-gallery">
                      <figure class="tg-themeimgborder">
                        <a href="#"><img src="images/gallery/2013/12.png" alt="image description"></a>
                      </figure>
                      <div class="tg-galleryhover">
                        <a class="tg-btnexpand" href="images/gallery/2013/12.png" data-rel="prettyPhoto[gallery]"><i class="icon-frame-expand"></i></a>
                      </div>
                    </div>
                  </div>
                  <!-- 2013 Pycon gallery ends -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--************************************
          Gallery End
      *************************************-->
    </main>
    <!--************************************
        Main End
    *************************************-->
    {% endblock %}
