    {% extends "components/_base.jinja" %}

    {% block content %}


    <!--************************************
        Header End
    *************************************-->
    <!--************************************
        Home Slider Start
    *************************************-->
    <div class="tg-bannerholder">
      <ul class="tg-socialicons tg-bannersocialicons">
        <li><a href="https://www.facebook.com/PyConIndia/" target="_blank"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://twitter.com/pyconindia"  target="_blank"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://webchat.freenode.net/?channels=%23pyconindia" target="_blank"><i class="fa fa-comments"></i></a></li>
        <li><a href="https://mail.python.org/mailman/listinfo/inpycon" target="_blank"><i class="fa fa-envelope"></i></a></li>
      </ul>
      <a class="tg-btnscroll tg-floating tg-btnsectionscroll" href="javascript:void(0);">
        <img src="images/btn-scroll.png" alt="image description">
        <span>Scroll For Details</span>
        <i class="fa fa-angle-double-down"></i>
      </a>
      <div id="tg-homeslider" class="tg-homeslider tg-haslayout owl-carousel">
        <figure class="item tg-bannerimg" data-vide-bg="poster: images/slider/img-01.jpg" data-vide-options="position: 0% 50%">
          <figcaption>
            <div class="container">
              <div class="tg-slidercontent">
                {# <span>4th-5th Nov, 2017</span> #}
                <h1 class="animated zoomIn">PyCon India 2017</h1>
                {# <div class="tg-upcomingeventcounter"></div> #}
                <ul class="tg-matadata tg-eventmatadata">
                  <li>
                    <i class="fa fa-calendar-check-o"></i>
                    <time datetime="2017-12-12">4 - 5 November, 2017</time>
                  </li>
                  <li>
                    <i class="fa fa-location-arrow"></i>
                    <!-- Changing the venue from "Delhi, NCR" to "SSCBS" -->
                    <span align="center"><a style="color:#FFF;" href="https://www.google.co.in/maps/place/Shaheed+Sukhdev+College+of+Business+Studies" target="_blank"> Shaheed Sukhdev College<br>Of Business Studies</a></span>                    
                  </li>
                </ul>
                <div class="tg-btnarea">
                  <a class="tg-btn tg-btnbookseat" style="color: #FFF;" href="https://in.explara.com/e/pycon-india-2017" rel="noopener noreferrer">Buy Tickets</a>
                </div>
              </div>
            </div>
          </figcaption>
        </figure>
      </div>
    </div>
    <!--************************************
        Home Slider End
    *************************************-->
    <!--************************************
        Main Start
    *************************************-->
    <main id="tg-main" class="tg-main tg-haslayout">
      <!--************************************
          About Us Start
      *************************************-->
      <section id="tg-aboutus" class="tg-sectionspace tg-haslayout">
        <div class="container">
          <div class="row">
            <div class="tg-shortcode tg-aboutusshortcode">
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pull-left">
                <div class="tg-shortcodetext">
                  <div class="tg-sectionhead tg-textalignleft">
                    <div class="tg-sectionheading">
                      <h3>PyCon India 2017</h3>
                    </div>
                    <div class="tg-description">
                      <p>PyCon India, the premier conference in India on using and developing the Python programming language is conducted annually by the Python developer community. It attracts the best Python programmers from across the country and abroad. </p>
                    </div>
                  </div>
                  <div class="tg-btnarea">
                    <h3 class="wow slideInLeft">2nd-3rd Nov, Workshop/Devsprints</h3>
                    <h3 class="wow slideInLeft">4th-5th Nov, Conference Days</h3>
                  </div>
                  <!-- <div class="tg-btnarea">
                    <a class="tg-btn" href="#">View Schedule</a>
                    <a class="tg-btn" href="#">View Speakers</a>
                  </div> -->
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pull-right">
                <figure class="tg-shortcodeimg tg-shadow">
                  <img src="images/img-01.jpg" alt="image description">
                </figure>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--************************************
          About Us End
      *************************************-->
    {% include 'sections/_statistics.html' %}
    {% include 'sections/_speakers.html' %}
      <!--************************************
          Feature Event Start
      *************************************-->
      <!-- <section class="tg-haslayout tg-bgparallax tg-bgfeatureevent">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="tg-featuredevent">
                <span class="tg-featuretag">Featured Event</span>
                <h2>Real Choice For<span>The Real Business</span></h2>
                <time datetime="2017-12-12">June 27 - 29, 2017</time>
                <a class="tg-btnaddtocalender" href="#"><i class="icon-calendar-full"></i><span>Add To Calendar</span></a>
              </div>
            </div>
          </div>
        </div>
      </section> -->
      <!--************************************
          Feature Event End
      *************************************-->
      <!--************************************
          Event Schedule Start
      *************************************-->
        {% include 'sections/_schedule.html' %}
      <!--************************************
          Event Schedule End
      *************************************-->
      <!--************************************
          Testimonial Signup Start
      *************************************-->
      <!-- <section class="tg-haslayout tg-bgparallax tg-bgtestimonial">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <div class="tg-testimonials tg-colorwhite">
                <div class="tg-sectionhead tg-textalignleft">
                  <div class="tg-sectionheading">
                    <h2>People Love Our Events</h2>
                    <h3>See What They Say About Our Events</h3>
                  </div>
                </div>
                <div id="tg-testimonialslider" class="tg-testimonialslider owl-carousel">
                  <div class="item tg-testimonial">
                    <i class="fa fa-quote-left"></i>
                    <figure class="tg-clientimg tg-themeimgborder">
                      <img src="images/testimonials/img-01.jpg" alt="image description">
                    </figure>
                    <div class="tg-testimonialcontent">
                      <div class="tg-clientname">
                        <span>Tee Hallmark</span>
                        <h2>Christy Warrick</h2>
                      </div>
                      <div class="tg-description">
                        <p>“ Conectetur adipiscing elit sediio eiusmod tempor incididunt utnai labore aloreaie magna aliqua enm adea minim.”</p>
                      </div>
                    </div>
                  </div>
                  <div class="item tg-testimonial">
                    <i class="fa fa-quote-left"></i>
                    <figure class="tg-clientimg tg-themeimgborder">
                      <img src="images/testimonials/img-02.jpg" alt="image description">
                    </figure>
                    <div class="tg-testimonialcontent">
                      <div class="tg-clientname">
                        <span>Speaker</span>
                        <h2>Christy Warrick</h2>
                      </div>
                      <div class="tg-description">
                        <p>“ Conectetur adipiscing elit sediio eiusmod tempor incididunt utnai labore aloreaie magna aliqua enm adea minim.”</p>
                      </div>
                    </div>
                  </div>
                  <div class="item tg-testimonial">
                    <i class="fa fa-quote-left"></i>
                    <figure class="tg-clientimg tg-themeimgborder">
                      <img src="images/testimonials/img-03.jpg" alt="image description">
                    </figure>
                    <div class="tg-testimonialcontent">
                      <div class="tg-clientname">
                        <span>Designer @ Tee Hallmark</span>
                        <h2>Christy Warrick</h2>
                      </div>
                      <div class="tg-description">
                        <p>“ Conectetur adipiscing elit sediio eiusmod tempor incididunt utnai labore aloreaie magna aliqua enm adea minim.”</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 pull-right">
              <div class="tg-signup">
                <figure class="tg-signupimg">
                  <img src="images/img-02.jpg" alt="image description">
                  <figcaption>
                    <div class="tg-signupcontent">
                      <h2>Don’t Worry, It’s Scam Free</h2>
                      <h3>Signup Now For<span>Free Newsletter!</span></h3>
                    </div>
                  </figcaption>
                </figure>
                <form class="tg-formtheme tg-formsignup">
                  <fieldset>
                    <div class="form-group">
                      <input type="text" name="first name" class="form-control" placeholder="First Name*">
                    </div>
                    <div class="form-group">
                      <input type="text" name="last name" class="form-control" placeholder="Last Name*">
                    </div>
                    <div class="form-group">
                      <input type="email" name="email" class="form-control" placeholder="Your Email* (Your Email Will Not Be Published)">
                    </div>
                    <div class="form-group">
                      <div class="tg-checkbox">
                        <input type="checkbox" id="alerts">
                        <label for="alerts">Don’t send me alerts other than events</label>
                      </div>
                    </div>
                    <button class="tg-btn" type="submit">Signup</button>
                  </fieldset>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section> -->
      <!--************************************
          Testimonial Signup End
      *************************************-->
      {% include 'sections/_sponsors.html' %}
      <!--************************************
          Locations Start
      *************************************-->
      <!-- <section class="tg-sectionspace tg-haslayout">
        <div class="container">
          <div class="row">
            <div class="tg-shortcode tg-venueshortcode">
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="tg-shortcodetext">
                  <div class="tg-sectionhead tg-textalignleft">
                    <div class="tg-sectionheading">
                      <h2>Locations Where You Can Stay</h2>
                      <h3>Staying Places Near Event’s Location</h3>
                    </div>
                    <div class="tg-description">
                      <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt utnaecte laboret dolore magna aliqua enim adiatai minim veniam quista nostrud exercitation ullamco laboris nisi ut aliquip exeation.</p>
                    </div>
                  </div>
                  <div class="tg-btnarea">
                    <a class="tg-btn" href="#">View All</a>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="tg-themepost tg-venue">
                  <figure>
                    <img src="images/venues/img-01.jpg" alt="image description">
                  </figure>
                  <div class="tg-posttitle">
                    <h3><a href="">Blue Rose Hotel</a></h3>
                    <span><a href="#">www.hotelname.com</a></span>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="tg-themepost tg-venue">
                  <figure>
                    <img src="images/venues/img-02.jpg" alt="image description">
                  </figure>
                  <div class="tg-posttitle">
                    <h3><a href="">Skyline Spa &amp; Hotel</a></h3>
                    <span><a href="#">www.hotelname.com</a></span>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="tg-themepost tg-venue">
                  <figure>
                    <img src="images/venues/img-03.jpg" alt="image description">
                  </figure>
                  <div class="tg-posttitle">
                    <h3><a href="">Alpine Sea Hotel</a></h3>
                    <span><a href="#">www.hotelname.com</a></span>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="tg-themepost tg-venue">
                  <figure>
                    <img src="images/venues/img-04.jpg" alt="image description">
                  </figure>
                  <div class="tg-posttitle">
                    <h3><a href="">Hotel One Manches...</a></h3>
                    <span><a href="#">www.hotelname.com</a></span>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="tg-themepost tg-venue">
                  <figure>
                    <img src="images/venues/img-05.jpg" alt="image description">
                  </figure>
                  <div class="tg-posttitle">
                    <h3><a href="">Express Manchester</a></h3>
                    <span><a href="#">www.hotelname.com</a></span>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="tg-themepost tg-venue">
                  <figure>
                    <img src="images/venues/img-06.jpg" alt="image description">
                  </figure>
                  <div class="tg-posttitle">
                    <h3><a href="">The Midland Thai Ho...</a></h3>
                    <span><a href="#">www.hotelname.com</a></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section> -->
      <!--************************************
          Locations End
      *************************************-->
      <!--************************************
          Latest Tweets and Blogs Start
      *************************************-->
      {% include 'sections/_social.html' %}
      
      <!--************************************
          Latest Tweets and Blogs End
      *************************************-->
      <!--************************************
          Map Start
      *************************************-->
      <section class="tg-haslayout">
        <div class="container-fluid">
          <div class="row">
            <div id="tg-locationmap" class="tg-locationmap tg-map"></div>
          </div>
        </div>
      </section>
      <!--************************************
          Map End
      *************************************-->
    </main>
    <!--************************************
        Main End
    *************************************-->
    {% endblock %}

