    {% extends "components/_base.jinja" %}

    {% block content %}
    <!--************************************
        Inner Banner Start
    *************************************-->
    <div class="tg-innerbanner tg-haslayout tg-bgparallax">
      <div class="container">
        <div class="tg-innerbannercontent">
          <div class="tg-pagetitle">
            <h1 class="animated fadeInDown">Our Sponsors</h1>
          </div>
          <ol class="tg-breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="tg-active">Sponsors</li>
          </ol>
        </div>
      </div>
    </div>
    <!--************************************
        Inner Banner End
    *************************************-->
    <!--************************************
        Main Start
    *************************************-->
    <main id="tg-main" class="tg-main tg-haslayout">
      <!--************************************
          Sponsor End
      *************************************-->
      <div class="tg-sectionspace tg-haslayout">
        <div class="container">
          <div class="row">
            <div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
              <div class="tg-sectionhead">
                <div class="tg-sectionheading">
                  <h2>Brands Behind Us</h2>
                  <h3>Our Great Sponsers</h3>
                </div>
                <div class="tg-description">
                  <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt utnaecte laboret dolore magna aliqua enim adiatai minim veniam quista nostrud exercitation ullamco laboris nisi ut aliquip exeation.</p>
                </div>
              </div>
            </div>
            <div class="tg-oursponsors">
              <ul class="tg-sponsors tg-sponsorvtwo">
                <li>
                  <figure class="tg-sponder">
                    <a href="javascript:void(0);">
                      <img src="images/sponsor/img-01.png" alt="image description">
                    </a>
                  </figure>
                </li>
                <li>
                  <figure class="tg-sponder">
                    <a href="javascript:void(0);">
                      <img src="images/sponsor/img-02.png" alt="image description">
                    </a>
                  </figure>
                </li>
                <li>
                  <figure class="tg-sponder">
                    <a href="javascript:void(0);">
                      <img src="images/sponsor/img-03.png" alt="image description">
                    </a>
                  </figure>
                </li>
                <li>
                  <figure class="tg-sponder">
                    <a href="javascript:void(0);">
                      <img src="images/sponsor/img-04.png" alt="image description">
                    </a>
                  </figure>
                </li>
                <li>
                  <figure class="tg-sponder">
                    <a href="javascript:void(0);">
                      <img src="images/sponsor/img-05.png" alt="image description">
                    </a>
                  </figure>
                </li>
                <li>
                  <figure class="tg-sponder">
                    <a href="javascript:void(0);">
                      <img src="images/sponsor/img-06.png" alt="image description">
                    </a>
                  </figure>
                </li>
                <li>
                  <figure class="tg-sponder">
                    <a href="javascript:void(0);">
                      <img src="images/sponsor/img-07.png" alt="image description">
                    </a>
                  </figure>
                </li>
                <li>
                  <figure class="tg-sponder">
                    <a href="javascript:void(0);">
                      <img src="images/sponsor/img-08.png" alt="image description">
                    </a>
                  </figure>
                </li>
                <li>
                  <figure class="tg-sponder">
                    <a href="javascript:void(0);">
                      <img src="images/sponsor/img-08.png" alt="image description">
                    </a>
                  </figure>
                </li>
                <li>
                  <figure class="tg-sponder">
                    <a href="javascript:void(0);">
                      <img src="images/sponsor/img-04.png" alt="image description">
                    </a>
                  </figure>
                </li>
                <li>
                  <figure class="tg-sponder">
                    <a href="javascript:void(0);">
                      <img src="images/sponsor/img-05.png" alt="image description">
                    </a>
                  </figure>
                </li>
                <li>
                  <figure class="tg-sponder">
                    <a href="javascript:void(0);">
                      <img src="images/sponsor/img-07.png" alt="image description">
                    </a>
                  </figure>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!--************************************
          Sponsor End
      *************************************-->
    </main>
    <!--************************************
        Main End
    *************************************-->
    {% endblock %}
