		{% extends "components/_base.jinja" %}

		{% block content %}
		<!--************************************
				Inner Baner Start
		*************************************-->
		<div class="tg-innerbanner tg-haslayout tg-bgparallax">
			<div class="container">
				<div class="tg-innerbannercontent">
					<div class="tg-pagetitle">
						<h1>Sponsorship</h1>
					</div>
					<ol class="tg-breadcrumb">
						<li><a href="#">Home</a></li>
						<li class="tg-active">Sponsorship</li>
					</ol>
				</div>
			</div>
		</div>
		<!--************************************
				Inner Baner End
		*************************************-->
		<!--************************************
				Main Start
		*************************************-->
		<main id="tg-main" class="tg-main tg-haslayout">
			<!--************************************
					Sponsor End						
			*************************************-->
			<div class="tg-sectionspace tg-haslayout">
				<div class="container">
					<div class="row">
						<div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-2 col-md-10 col-lg-offset-2 col-lg-8">
							<div class="tg-sectionhead-sponsor">
								<div class="tg-description">
									<p>PyCon India is the largest annual conference for the community using and developing the Python programming language in India. It attracts the best Python programmers across the country and abroad. PyCon India is a community conference, organized by volunteers. Formally it is run by the Python Software Society of India, which is a non-profit society under Indian law. </p><br>
									<h3>Sponsoring</h3>
									<p> Your sponsorship keeps PyCon India affordable to the widest possible audience.
									In order to ensure a successful conference, the community needs to address a wide range of logistical and organizational challenges. PyCon India attendees sometimes require assistance with expenses especially student attendees, and sponsorship enables us to support those who would otherwise be unable to attend.

									The attendees of PyCon India will include professional developers from large enterprises and smaller firms as well as people from academia. Delegates come to present their latest developments. With Python already becoming a major enterprise programming language and platform, sponsoring PyCon India 2016 is an excellent opportunity to demonstrate industry leadership in this part of the world. The attendance of PyCon India 2017 is expected to be between 900 and 1000 delegates. </p><br>
									<a class="tg-btn" href="http://bit.ly/sponsorshippyconindia2017" target="_blank">Download Sponsorship Prospectus</a>
								</div>
							</div>

						</div>
							
					</div>
				</div>
			</div>
			<!--************************************
					Sponsor End						
			*************************************-->
		</main>
		<!--************************************
				Main End
		*************************************-->
		{% endblock %}
		