        {% extends "components/_base.jinja" %} {% block content %} <!--************************************
                Inner Baner Start
        *************************************-->
        <div class="tg-innerbanner tg-haslayout tg-bgparallax">
            <div class="container">
                <div class="tg-innerbannercontent">
                    <div class="tg-pagetitle">
                        <h1>
                            Volunteer
                        </h1>
                    </div>
                    <ol class="tg-breadcrumb">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="tg-active">Volunteer
                        </li>
                    </ol>
                </div>
            </div>
        </div><!--************************************
                Inner Baner End
        *************************************-->
        <!--************************************
                Main Start
        *************************************-->
        <main class="tg-main tg-haslayout" id="tg-main">
            <!--************************************
                    Sponsor End                     
            *************************************-->
            <div class="tg-sectionspace tg-haslayout">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-2 col-md-10 col-lg-offset-2 col-lg-8">
                            <div class="tg-sectionhead-sponsor">
                                <div class="tg-description">
                                    <div>
                                        <p>
                                            <a href="http://in.pycon.org/">PyCon India</a> is a community event. Here each and every task is done by a volunteer. And here is the opportunity for You to be a part of the community.
                                        </p>
                                        <p>
                                            But before you register to volunteer, there are few things you should be aware of -
                                        </p>
                                        <ul>
                                            <li>Volunteering takes time and effort, sometimes a lot of it. For online activities like handling social networks or handling registrations etc take a lot of time. And sometimes rapid decisions have to be made. So if you're volunteering, make sure you have the time. If you're unavailable at certain time period of the day, let us know beforehand.
                                            </li>

                                            <li>If you're volunteering for offline activities e.g. on spot registration or settings up stages or handling video recording, anything that has to be done on the venue during the event, there is a good chance that you won't be able to attend the sessions you just registered for. If someone needs you, you have to be there.
                                            </li>

                                            <li>Volunteering is not a free way into the event. At PyCon India, everybody buys tickets. Even the event organizers buy tickets. We volunteer because we love Python and PyCon, and want the event to be awesome.</li>

                                            <li>Volunteers are the most important part of the event. Without the volunteers, the event cannot happen. So even if you are attending PyCon for the first time, we encourage you to volunteer with whatever you can. If you don't want to miss any sessions, then volunteer for smaller tasks.</li>
                                        </ul>
                                        <p>
                                            If you're still interested in volunteering, subscribe to <a href="https://mail.python.org/mailman/listinfo/inpycon">the mailing list</a>. <strong>Please don't subscribe to the daily digest</strong>. Digests are always behind the time and meant for those who just wants to stay updated and not participate in conversations. If you're already subscribed to the mailing list, <a href="https://mail.python.org/mailman/listinfo/inpycon">go ahead, login</a> and change your subscription type. Also, <strong>please don't reply to a digest</strong>.
                                        </p>
                                        <p>
                                            Once your name is on the form, keep an eye on the mailing list. Threads will be created on specific tasks asking for volunteers. If you think you can do the task and have enough time for it, raise your hand. That's it. You can join the telegram group and help out in the tasks their.
                                        </p>
                                        <a class="tg-btn" href="https://t.me/joinchat/AAAAAEOZw7hYhueOARzGVA" target="_blank">Telegram Group</a><br>
                                        <br>
                                        <p>
                                            Also, if you have any question, we'd really appreciate if you go through the <a href="https://mail.python.org/pipermail/inpycon/">mailing list archives</a> first, and see if it's already answered. If not, you can talk to us at the IRC channel <a href="http://webchat.freenode.net/?channels=%23pyconindia">#pyconindia</a> on <a href="http://freenode.net/">freenode.net</a> or send a mail to the mailing list.
                                        </p>
                                        <p>
                                            Hope to see you at the event. Happy volunteering. :)
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--************************************
                    Sponsor End                     
            *************************************-->
        </main><!--************************************
                Main End
        *************************************-->
        {% endblock %}
    </body>
</html>