
		{% block content %}
		<!--************************************
				Footer Start
		*************************************-->
		<footer id="tg-footer" class="tg-footer tg-haslayout">
			<div class="tg-sectionspace tg-haslayout tg-bgparallax tg-bgtwitter">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-xs-offset-0 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
							<div class="tg-twitterpost">
								<i class="fa fa-twitter"></i>
								<span class="tg-followus">Follow <a href="#">@Beevibrant</a> &amp; Stay Posted</span>
								<div class="tg-description">
									<p><span>@Beevibrant,</span> Consectetur adipisicing elit sed dota eiusmod incididunt ut labore et dolore manac alicuaie notie.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tg-foorterbar">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<p class="tg-copyrights">2017 All Rights Reserved © Bee Vibrant</p>
							<ul class="tg-socialicons">
								<li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
								<li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
								<li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
								<li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
								<li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
							</ul>
							<strong class="tg-logo"><a href="index.html"><img src="images/logo.png" alt="company logo here"></a></strong>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!--************************************
				Footer End
		*************************************-->
		{% endblock %}