
		{% block content %}
		<!--************************************
				Footer Start
		*************************************-->
		<footer id="tg-footer" class="tg-footer tg-haslayout">
			<div class="tg-foorterbar">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<p class="tg-copyrights">Copyright © 2016 Python Software Society of India</p>
							<ul class="tg-socialicons">
								<li class="tg-facebook"><a href="https://www.facebook.com/PyConIndia/" target="_blank"><i class="fa fa-facebook"></i></a></li>
								<li class="tg-twitter"><a href="https://twitter.com/pyconindia"  target="_blank"><i class="fa fa-twitter"></i></a></li>
								<li class="tg-linkedin"><a href="https://webchat.freenode.net/?channels=%23pyconindia" target="_blank"><i class="fa fa-comments"></i></a></li>
								<li class="tg-googleplus"><a href="https://mail.python.org/mailman/listinfo/inpycon" target="_blank"><i class="fa fa-envelope"></i></a></li>
							</ul>
							<strong class="tg-logo"><a href="index.html"><img src="images/logo.png" alt="company logo here"></a></strong>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!--************************************
				Footer End
		*************************************-->
		{% endblock %}