<!--************************************
		Header Start
*************************************-->
<header id="tg-header" class="tg-header tg-haslayout">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<strong class="tg-logo"><a href="index.html"><img src="images/logo.png" alt="company logo here"></a></strong>
				<div class="tg-navigationarea">
					<nav id="tg-nav" class="tg-nav">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tg-navigation" aria-expanded="false">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div id="tg-navigation" class="collapse navbar-collapse tg-navigation">
							<ul>
								<li><a href="https://in.pycon.org/2016/">2016</a></li>
								<li><a href="sponsorship.html">Sponsorship</a></li>
								<!-- Hide gallery; waiting for consent to use the images -->
								<!-- <li><a href="gallery.html">Gallery</a></li> -->
								<li><a href="faqs.html">FAQs</a></li>
								<li class="menu-item-has-children">
									<a href="javascript:void(0);">More</a>
									<ul class="sub-menu">
										<li><a href="/#speakers">Speakers</a></li>
										<li><a href="volunteer.html">Volunteer</a></li>
										<li><a href="https://in.pycon.org/blog/">Blog</a></li>
										<li><a href="coc.html">Code of Conduct</a></li>
									</ul>
								</li>
							</ul>
						</div>
					</nav>
					<a class="tg-btn tg-btnbookseat" href="https://in.pycon.org/cfp/2017/proposals" target="_blank" style="color:#fff;">Submit Your Proposal</a>
				</div>
			</div>
		</div>
	</div>
</header>
<!--************************************
		Header Stop
*************************************-->
